#about-header {
    height: 7%;
    min-height: 51px;
    z-index: 1000;

    @media (max-width: 767.98px) {
        height: 57px;
        min-height: 57px;
    }

    .navbar {
        height: 100%;
        background-color: transparent;

        @media (max-width: 767.98px) {
            height: auto;
            width: 100%;
            position: fixed;
            background-color: #F5F5F5;
        }

        .container {

            @media (max-width: 767.98px) {
                bottom: auto;
                position: auto;
            }

            .navbar-nav {
                right: 0;

                @media (min-width: 1200px) and (max-width: 1399px) {
                    right: 140px;
                }

                @media (min-width: 1400px) {
                    right: 112px;
                }

                .nav-link {
                    font-size: 1rem !important;
                    color: #4e9599;

                    @media (max-width: 767.98px) {
                        font-size: 1rem !important;
                    }

                    @media (min-width: 1400px) {
                        font-size: 1.3rem !important;
                    }

                    i {
                        &:before {
                            font-size: 1.3rem;
                        }

                        @media (min-width: 1200px) and (max-width: 1399px) {
                            &:before {
                                font-size: 1.5rem;
                            }
                        }

                        @media (min-width: 1400px) {
                            &:before {
                                font-size: 1.7rem;
                            }
                        }
                    }
                }
            }
        }
    }
}


#about-main {
    height: 93%;
    z-index: 150;

    @media (max-width: 767.98px) {
        height: auto;
    }

    #about-container {
        height: 100% !important;
        font-family: 'PlayfairDisplay';
        user-select: none;

        #about-top-row {
            height: 35%;
            min-height: 243px;
            max-height: 250px;

            @media (max-width: 767.98px) {
                height: auto;
                min-height: auto;
                max-height: auto;
            }


            @media (min-width: 1200px) and (max-width: 1399px) {
                min-height: 250px;
                max-height: 297px;

            }

            @media (min-width: 1400px) {
                min-height: 314px;
                max-height: 351px;
            }


            #top-left-col {
                height: 100%;

                @media (max-width: 767.98px) {
                    width: 50% !important;
                    padding-right: 0;
                    padding-top: 5px;
                }

                #wrap-about-image {
                    position: relative;
                    display: flex;
                    background-color: #4e9599;
                    width: 48vh;
                    min-width: 337px;
                    max-width: 343px;
                    height: 80%;
                    border-radius:  0 43px 43px 0;

                    @media (max-width: 767.98px) {
                        width: 100%;
                        background-color: transparent;
                        min-width: auto;
                        max-width: auto;
                        height: 100%;
                    }

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        min-width: 373px;
                        max-width: 411px;
                    }

                    @media (min-width: 1400px) {
                        min-width: 455px;
                        max-width: 481px;
                    }

                    img {
                        position: relative;
                        align-self: center;
                        height: 40vh;
                        min-height: 277px;
                        max-height: 285px;
                        z-index: 1000;

                        @media (max-width: 767.98px) {
                            width: auto;
                            height: auto;
                            min-height: auto;
                            max-height: auto;
                        }

                        @media (min-width: 1200px) and (max-width: 1399px) {
                            min-height: 302px;
                            max-height: 343px;
                        }

                        @media (min-width: 1400px) {
                            min-height: 380px;
                            max-height: 396px;
                        }
                    }
                }
            }

            #top-right-col {
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media (max-width: 767.98px) {
                    width: 50% !important;
                    height: auto;
                }

                .vertical-line-text {
                    margin-left: 28px;

                    @media (max-width: 767.98px) {
                        margin-left: 0;
                        border: 0;
                        padding: 0;
                    }

                    @media (min-width: 1400px) {
                        margin-left: 62px;
                    }

                    p {
                        @media (max-width: 767.98px) {
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        #top-mob-bottom {
            padding-top: 10px;

            p {
                @media (max-width: 767.98px) {
                    font-size: 13px;
                }
            }
        }

        .about-middle-row {
            height: 35%;
            min-height: 208px;

            @media (max-width: 767.98px) {
                height: auto;
                min-height: auto;
            }

            @media (min-width: 1200px) and (max-width: 1399px) {
                min-height: 224px;
            }

            @media (min-width: 1400px) {
                min-height: 254px;
            }

            .about-middle-title {

                 @media (max-width: 767.98px) {
                    padding-top: 10px;
                    padding-bottom: 9px;
                    background: linear-gradient(to right, rgba(249, 197, 54, 1) 0%, 0.9251471608877182%, rgba(248, 197, 58, 1) 1.8502943217754364%, 50.92514716088772%, rgba(236, 229, 219, 1) 100%);
                 }

                h2 {
                    text-align: center;

                    @media (max-width: 767.98px) {
                        font-size: 1.2rem;
                        margin: 0;
                    }

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        font-size: 2.3rem;
                    }

                    @media (min-width: 1400px) {
                        font-size: 2.5rem;
                    }

                    &::first-letter {
                        font-family: 'Monplesir script';
                    }
                }
            }


            .about-col-one {
                position: relative;

                .about-one {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 125px;
                    border: 1px solid #4e9599;
                    border-radius: 43px;
                    padding: 40px;
                    position: absolute;
                    bottom: 25px;

                    @media (max-width: 767.98px) {
                        position: relative;
                        width: auto;
                        height: auto;
                        bottom: auto;
                        padding: 10px;
                        flex-direction: row;
                    }

                    span {
                        position: absolute;
                        font-family: 'Monplesir script';
                        font-size: 2rem;
                        color: #4e9599;
                        top: -23px;
                        left: 32px;

                        @media (max-width: 767.98px) {
                            top: auto;
                            left: auto;
                            font-size: 1.1rem;
                            position: relative;
                        }
                    }

                    p {
                        text-align: center;
                        margin: 0;
                        flex-grown: 1;
                        font-size: 14px;

                        @media (max-width: 767.98px) {
                            font-size: 13px;
                        }

                        @media (min-width: 1400px) {
                            font-size: 17px;
                        }
                    }
                }
            }

            .about-col-two {
                position: relative;

                .about-two {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    align-self: center;
                    width: 80%;
                    height: 125px;
                    border: 1px solid #4e9599;
                    border-radius: 43px;
                    margin-top: 2%;
                    padding: 40px;

                    @media (max-width: 767.98px) {
                        position: relative;
                        width: auto;
                        height: auto;
                        bottom: auto;
                        padding: 10px;
                        flex-direction: row;
                        margin-top: auto;
                    }

                    @media (min-width: 1400px) {
                        height: 154px;
                    }

                    span {
                        position: absolute;
                        font-family: 'Monplesir script';
                        font-size: 2rem;
                        color: #4e9599;
                        top: -23px;
                        left: 32px;

                        @media (max-width: 767.98px) {
                            top: auto;
                            left: auto;
                            font-size: 1.1rem;
                            position: relative;
                        }
                    }

                    p {
                        text-align: center;
                        margin: 0;
                        flex-grown: 1;
                        font-size: 14px;

                        @media (max-width: 767.98px) {
                            font-size: 13px;
                        }

                        @media (min-width: 1400px) {
                            font-size: 17px;
                        }
                    }
                }
            }

            .about-col-three {
                position: relative;

                .about-three {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: absolute;
                    width: 100%;
                    height: 125px;
                    border: 1px solid #4e9599;
                    border-radius: 43px;
                    padding: 40px;
                    bottom: 25px;

                    @media (max-width: 767.98px) {
                        position: relative;
                        width: auto;
                        height: auto;
                        bottom: auto;
                        padding: 10px;
                        flex-direction: row;
                    }

                    span {
                        position: absolute;
                        font-family: 'Monplesir script';
                        font-size: 2rem;
                        color: #4e9599;
                        top: -23px;
                        left: 32px;

                        @media (max-width: 767.98px) {
                            top: auto;
                            left: auto;
                            font-size: 1.1rem;
                            position: relative;
                        }
                    }

                    p {
                        text-align: center;
                        margin: 0;
                        flex-grown: 1;
                        font-size: 14px;

                        @media (max-width: 767.98px) {
                            font-size: 13px;
                        }

                        @media (min-width: 1400px) {
                            font-size: 17px;
                        }
                    }
                }
            }
        }

        #about-bottom-row {
            height: 30%;
            min-height: 216px;

            @media (max-width: 767.98px) {
                height: auto;
                min-height: auto;
                margin-top: 15px;
            }

            @media (min-width: 1200px) and (max-width: 1399px) {
                min-height: 256px;
            }

            @media (min-width: 1400px) {
                min-height: 259px;
            }

            h2 {
                text-align: center;
                color: #4e9599;

                @media (max-width: 767.98px) {
                    font-size: 1.2rem;
                }

                @media (min-width: 1200px) and (max-width: 1399px) {
                    font-size: 2.3rem;
                }

                @media (min-width: 1400px) {
                    font-size: 2.5rem;
                }

                &::first-letter {
                    font-family: 'Monplesir script';
                }
            }

            .vertical-line-text {

                p {
                    span {
                        font-style: italic;
                    }

                    a {
                        color: inherit;
                    }

                    @media (max-width: 767.98px) {
                        font-size: 13px;
                    }
                }
            }

        }

        #about-mob-bottom-interior {
            background-color: #4e9599;
            width: 80%;
            height: 50px;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
        }
    }
}



.about-gradient {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        height: 62%;
        left: -50vw;
        right: -50vw;
        background: linear-gradient(to right, rgba(249, 197, 54, 1) 0%, 0.9251471608877182%, rgba(248, 197, 58, 1) 1.8502943217754364%, 50.92514716088772%, rgba(236, 229, 219, 1) 100%);
        z-index: 150;
    }
}

.about-middle-zindex {
    z-index: 1000;
}

.vertical-line-text {
    border-left: 2px solid #4e9599;
    padding: 10px;

    p {
        padding: 0;
        margin: 0;
        font-size: 14px;

         @media (min-width: 1200px) and (max-width: 1399px) {
            font-size: 14px;
         }

         @media (min-width: 1400px) {
            font-size: 17px;
         }
    }
}