#about-header {
    height: 7%;
    min-height: 51px;

    .navbar {
        height: 100%;
        background-color: transparent;

        .navbar-nav {
            right: 0;

            @media (min-width: 1200px) and (max-width: 1399px) {
                right: 140px;
            }

            @media (min-width: 1400px) {
                right: 112px;
            }

            .nav-link {
                font-size: 1rem !important;
                color: #4e9599;

                @media (min-width: 1400px) {
                    font-size: 1.3rem !important;
                }

                i {
                    &:before {
                        font-size: 1.3rem;
                    }

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        &:before {
                            font-size: 1.5rem;
                        }
                    }

                    @media (min-width: 1400px) {
                        &:before {
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
    }
}



#about-main {
    height: 93%;

    #about-container {
        height: 100% !important;
        font-family: 'PlayfairDisplay';
        user-select: none;

        #about-top-row {
            height: 35%;
            min-height: 243px;
            max-height: 250px;


            @media (min-width: 1200px) and (max-width: 1399px) {
                min-height: 250px;
                max-height: 308px;

            }

            @media (min-width: 1400px) {
                min-height: 314px;
                max-height: 351px;
            }


            #top-left-col {
                height: 100%;

                #wrap-about-image {
                    position: relative;
                    display: flex;
                    background-color: #4e9599;
                    width: 48vh;
                    min-width: 337px;
                    height: 80%;
                    border-radius:  0 43px 43px 0;

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        min-width: 373px;
                    }

                    @media (min-width: 1400px) {
                        min-width: 470px;
                    }

                    img {
                        position: relative;
                        align-self: center;
                        height: 40vh;
                        min-height: 280px;
                        max-height: 319px;
                        z-index: 1000;
                    }
                }
            }

            #top-right-col {
                .vertical-line-text {
                      margin-left: 28px;

                      @media (min-width: 1400px) {
                          margin-left: 62px;
                      }
                }
            }
        }

         #about-middle-row {
            height: 32%;
            min-height: 208px;

             @media (min-width: 1200px) and (max-width: 1399px) {
                min-height: 224px;
             }

            #about-one {
                width: 100%;
                height: 125px;
                border: 1px solid #4e9599;
                border-radius: 43px;
                bottom: 31px;
                padding: 40px;
                position: absolute;

                span {
                    position: absolute;
                    font-family: 'Monplesir script';
                    font-size: 2rem;
                    color: #4e9599;
                    top: -23px;
                    left: 32px;
                }
            }

            #about-middle-center {
                flex-direction: column;

                h2 {
                    text-align: center;

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        font-size: 2.3rem;
                    }

                    @media (min-width: 1400px) {
                        font-size: 2.5rem;
                    }

                    &::first-letter {
                        font-family: 'Monplesir script';
                    }
                }

                #about-two {
                    position: relative;
                    align-self: center;
                    width: 80%;
                    height: 125px;
                    border: 1px solid #4e9599;
                    border-radius: 43px;
                    margin-top: 2%;
                    padding: 40px;

                    span {
                        position: absolute;
                        font-family: 'Monplesir script';
                        font-size: 2rem;
                        color: #4e9599;
                        top: -23px;
                        left: 32px;
                    }
                }
            }

            #about-three {
                position: absolute;
                width: 100%;
                height: 125px;
                border: 1px solid #4e9599;
                border-radius: 43px;
                bottom: 31px;
                padding: 40px;



                span {
                    position: absolute;
                    font-family: 'Monplesir script';
                    font-size: 2rem;
                    color: #4e9599;
                    top: -23px;
                    left: 32px;
                }
            }

         }

         #about-bottom-row {
            height: 33%;
            min-height: 216px;

            @media (min-width: 1200px) and (max-width: 1399px) {
                min-height: 256px;
             }

            h2 {
                text-align: center;
                color: #4e9599;

                @media (min-width: 1200px) and (max-width: 1399px) {
                    font-size: 2.3rem;
                }

                @media (min-width: 1400px) {
                    font-size: 2.5rem;
                }

                &::first-letter {
                    font-family: 'Monplesir script';
                }
            }

            .vertical-line-text {

                p {

                    span {
                        font-style: italic;
                    }

                    a {
                        color: inherit;
                    }
                }
            }

         }
    }
}



.about-gradient {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        height: 21vh;
        min-height: 148px;
        left: -50vw;
        right: -50vw;
        background: linear-gradient(to right, rgba(249, 197, 54, 1) 0%, 0.9251471608877182%, rgba(248, 197, 58, 1) 1.8502943217754364%, 50.92514716088772%, rgba(236, 229, 219, 1) 100%);
        z-index: 150;
    }

   /*@media (min-width: 1200px) and (max-width: 1399px) {

        &:before {
            height: 195px;
        }
    }

    @media (min-width: 1400px) {

        &:before {
            height: 211px;
        }

    }*/
}

.about-middle-zindex {
    z-index: 1000;
}

.vertical-line-text {
    border-left: 2px solid #4e9599;
    padding: 10px;

    p {
        padding: 0;
        margin: 0;
        font-size: 13px;

         @media (min-width: 1200px) and (max-width: 1399px) {
            font-size: 14px;
         }

         @media (min-width: 1400px) {
            font-size: 17px;
         }
    }
}