#groups-header {
    height: 5%;

    .navbar {
        height: 100%;

        .navbar-nav {
            right: 30px;

            @media (min-width: 1200px) and (max-width: 1399px) {
                right: 42px;
            }

            @media (min-width: 1400px) {
                right: 56px;
            }

            .nav-link {
                font-size: 0.85rem !important;
                color: #4e9599;

                @media (min-width: 1200px) and (max-width: 1399px) {
                    font-size: 1.05rem !important;
                }

                @media (min-width: 1400px) {
                    font-size: 1.25rem !important;
                }
            }
        }
    }
}

#groups-main {
    height: 95%;

    #groups-container {
        height: 100% !important;
        font-family: 'PlayfairDisplay';
        user-select: none;
        height: inherit;
        position: relative;

        #groups-top-row {
            height: 10%;

            .col {
                h2 {
                    color: #4e9599;

                    &::first-letter {
                        font-family: 'Monplesir script';
                    }

                    @media (min-width: 1400px) {
                        font-size: 2.3rem;
                     }
                }
            }
        }
    }
}