.navbar {
    user-select: none;
    --bs-navbar-nav-link-padding-x: 1rem !important;
    font-family: 'PlayfairDisplay';
    z-index: 1000;


    .container {
        position: relative;
    }

    .navbar-nav {
        position: absolute;

        @media (min-width: 1400px) {
            right: 40px;
        }
    }

    &.home-navbar {
        .container {
            bottom: 35px;
        }

        .navbar-nav {
            right: 15px;
        }
    }

    &.about-navbar {
        .navbar-nav {
            right: 0;
        }
    }

    &.schedule-navbar {
        .navbar-nav {
            right: 65px;
        }
    }

    &.contacts-navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;

        .container {
            bottom: 40px;

            @media (min-width: 1400px) {
                bottom: 65px;
            }
        }

        .navbar-nav {
            right: 15px;
        }
    }



    .nav-link {
        font-size: 1rem !important;
        white-space: nowrap;

        &:hover {
            text-decoration: underline;
        }

        &.active {
            color: #e1dbd8 !important;
        }

        @media (min-width: 1200px) and (max-width: 1399px) {
            font-size: 1.3rem !important;
        }

        @media (min-width: 1400px) {
            font-size: 1.5rem !important;
        }
    }

    #home-top-rectangle {
        position: absolute;
        top: -50px;
        background-color: #fbde98;
        border-bottom-right-radius: 43px;
        z-index: 1111;
        height: 195px;
        width: 67%;
        right: -25px;

        @media (min-width: 1200px) and (max-width: 1399px) {
            width: 67%;
            right: -20px;
        }

        @media (min-width: 1400px) {
            height: 265px;
            top: -65px;
            width: 68%;
            right: -30px;
        }
    }
}

.home-navbar, .contacts-navbar {
    background: linear-gradient(to right, rgba(249, 197, 54, 1) 0%, 0.9251471608877182%, rgba(248, 197, 58, 1) 1.8502943217754364%, 50.92514716088772%, rgba(236, 229, 219, 1) 100%);
    height: 151px;

    @media (min-width: 1400px) {
        height: 200px;
    }
}

.about-navbar {
    height: 70px;
    background-color: transparent;
}

.home-color {
    color: #4f4e4e !important;
}

.about-color, .schedule-color {
    color: #4e9599 !important;
}

.schedule-navbar {
    height: 55px;
}