.navbar {
    user-select: none;
    --bs-navbar-nav-link-padding-x: 1rem !important;
    font-family: 'PlayfairDisplay';
    z-index: 1000;


    .container {
        position: relative;

        .navbar-toggler {
            color: #4e9599;

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(78, 149, 153, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }
        }

        .navbar-collapse {
            z-index: 1000;

            .navbar-nav {
                position: absolute;

                @media (max-width: 767.98px) {
                        position: static;
                    }

                @media (min-width: 1400px) {
                    right: 40px;
                }
            }

            .nav-link {
                white-space: nowrap;

                &:hover {
                    text-decoration: underline;
                }

                &.active {
                    color: #a09c99 !important;
                }
            }
        }
    }
}

.navbar-popover {
    --bs-popover-border-color: #4e9599 !important;
    --bs-popover-bg: #ece4d8 !important;
    --bs-popover-body-padding-x: 5px !important;
    --bs-popover-body-padding-y: 5px !important;

    .popover-body {
        user-select: none;
    }
}