#index-header {

    @media (max-width: 999px) {
        min-height: 57px;
        position: relative;
        background: linear-gradient(to right, rgba(249, 197, 54, 1) 0%, 0.9251471608877182%, rgba(248, 197, 58, 1) 1.8502943217754364%, 50.92514716088772%, rgba(236, 229, 219, 1) 100%);
    }

    @media (min-width: 1000px) and (max-width: 1199px) {
        min-height: 175px;
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
        min-height: 185px;
    }

    @media (min-width: 1400px) {
        min-height: 230px;
    }

    .navbar {
        height: 100%;
        background: linear-gradient(to right, rgba(249, 197, 54, 1) 0%, 0.9251471608877182%, rgba(248, 197, 58, 1) 1.8502943217754364%, 50.92514716088772%, rgba(236, 229, 219, 1) 100%);

        @media (max-width: 999px) {
            background: transparent;
        }

        .container {

            .navbar-collapse {

                @media (max-width: 999px) {
                    position: absolute;
                    top: 35px;
                    width: 95%;
                }

                .navbar-nav {
                    position: absolute;
                    z-index: 12;

                    @media (max-width: 999px) {
                        right: auto;
                        width: 90%;
                    }

                    @media (min-width: 1000px) and (max-width: 1199px) {
                        right: 10px;
                        top: 30px;
                    }

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        right: 10px;
                        top: 40px;
                    }

                    @media (min-width: 1400px) {
                        right: 15px;
                        top: 55px;
                    }

                    .nav-link {
                        color: #4F4E4E;

                        @media (max-width: 999px) {
                            font-size: 1rem;
                            color: #4e9599;
                        }

                        @media (min-width: 1000px) and (max-width: 1199px) {
                            font-size: 1.15rem !important;
                        }

                        @media (min-width: 1200px) and (max-width: 1399px) {
                            font-size: 1.45rem !important;
                        }

                        @media (min-width: 1400px) {
                            font-size: 1.6rem !important;
                        }
                    }
                }
            }
        }
    }
}


#index-main {

    #index-container {
        height: 100% !important;

        #index-content {

            #index-main-left-col {
                display: flex;
                flex-grow: 1;
                padding-left: 0;

                @media (max-width: 999px) {
                    width: 50%;
                    padding: 0;
                }

                #index-main-wrap-left-image {
                    position: absolute;
                    background-color: #4e9599;
                    border-top-left-radius: 43px;
                    border-bottom-left-radius: 43px;
                    z-index: 22;

                    @media (max-width: 999px) {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                    }

                    @media (min-width: 1000px) and (max-width: 1199px) {
                        top: -130px;
                        height: 290px;
                        width: 200px;
                    }

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        top: -120px;
                        height: 315px;
                        width: 200px;
                        border-bottom-left-radius: 55px;
                    }

                    @media (min-width: 1400px) {
                        top: -155px;
                        height: 390px;
                        width: 200px;
                        border-bottom-left-radius: 60px;
                    }

                    img {
                        width: auto;
                        position: absolute;
                        border-top-left-radius: 110px;
                        border-top-right-radius: 110px;
                        -webkit-user-drag: none;
                        -khtml-user-drag: none;
                        -moz-user-drag: none;
                        user-drag: none;
                        draggable: false;
                        pointer-events: none;
                        user-select: none;

                        @media (max-width: 767.98px) {
                            position: relative;
                            width: 100%;
                            height: auto;
                            bottom: 15px;
                            border-top-right-radius: 60px;
                            border-bottom-right-radius: 60px;
                            border-top-left-radius: 0;
                            z-index: 150;
                        }

                        @media (min-width: 767.99px) and (max-width: 999.99px) {
                            position: relative;
                            width: 100%;
                            height: auto;
                            bottom: 15px;
                            border-top-right-radius: 70px;
                            border-bottom-right-radius: 70px;
                            border-top-left-radius: 0;
                            z-index: 150;
                        }

                        @media (min-width: 1000px) and (max-width: 1199px) {
                            left: 20px;
                            height: 610px;
                        }

                        @media (min-width: 1200px) and (max-width: 1399px) {
                            left: 35px;
                            height: 689px;
                        }

                        @media (min-width: 1400px) {
                            left: 45px;
                            height: 826px;
                        }
                    }
                }
            }

            #index-main-right-col {

                @media (max-width: 999px) {
                    width: 50%;
                }

                @media (min-width: 1000px) and (max-width: 1199px) {
                    width: 545px;
                }

                @media (min-width: 1200px) and (max-width: 1399px) {
                    width: 660px;
                }

                @media (min-width: 1400px) {
                    width: 735px;
                }

                .row {
                    flex-direction: column;

                    @media (max-width: 999px) {
                        flex-grow: 1;
                    }

                    .col-one {
                        display: flex;
                        position: relative;
                        padding: 0 0 0 0;

                        @media (max-width: 999px) {
                            flex-direction: column;
                        }

                        #name-hello {
                            margin-top: 40px;
                            display: inline-block;
                            background-color: transparent;
                            z-index: 22;

                            @media (max-width: 999px) {
                                display: inline-flex;
                                justify-content: center;
                            }

                            p {
                                font-weight: bold;
                            }

                            .name {
                                display: inline-block;
                                color: #4e9599;

                                @media (max-width: 767.98px) {
                                    font-size: 1.5rem;
                                }

                                @media (min-width: 767.99px) and (max-width: 999px) {
                                    font-size: 2.6rem;
                                }

                                @media (min-width: 1000px) and (max-width: 1199px) {
                                    font-size: 2.4rem;
                                }

                                @media (min-width: 1200px) and (max-width: 1399px) {
                                    font-size: 3.2rem;
                                }

                                @media (min-width: 1400px) {
                                    font-size: 3.4rem;
                                }


                                &::first-letter {
                                    font-family: 'Monplesir script';
                                    font-weight: normal;
                                }
                            }
                        }

                        #index-main-wrap-right-image {
                            position: absolute;
                            bottom: 0;
                            background-color: #fbde98;
                            border-radius: 43px;
                            z-index: 21;

                            @media (max-width: 767.98px) {
                                bottom: 50px;
                                right: 0;
                                width: 50%;
                                height: calc(100% - 208px);
                                background-color: #fbde98;
                                border-radius: 43px 0 0 0;
                            }

                            @media (min-width: 767.99px) and (max-width: 999px) {
                                bottom: 50px;
                                right: 0;
                                width: 50%;
                                height: calc(100% - 331px);
                                background-color: #fbde98;
                                border-radius: 43px 0 0 0;
                            }

                            @media (min-width: 1000px) and (max-width: 1199px) {
                                right: 35px;
                                height: 115%;
                                width: 290px;
                            }

                            @media (min-width: 1200px) and (max-width: 1399px) {
                                right: 42px;
                                height: 112%;
                                width: 325px;
                            }

                            @media (min-width: 1400px) {
                                right: 55px;
                                height: 120%;
                                width: 368px;
                                border-radius: 55px;
                            }

                            img {
                                position: absolute;
                                border-radius: 43px;

                                @media (max-width: 767.98px) {
                                    width: 165%;
                                    bottom: 0;
                                    right: 0;
                                    border-radius: 43px 0 0 43px;
                                }

                                @media (min-width: 767.99px) and (max-width: 999px) {
                                    width: 165%;
                                    bottom: 0;
                                    right: 0;
                                    border-radius: 43px 0 0 43px;
                                }

                                @media (min-width: 1000px) and (max-width: 1199px) {
                                    width: 291px;
                                    height: auto;
                                    right: -35px;
                                    bottom: 24px;
                                }

                                @media (min-width: 1200px) and (max-width: 1399px) {
                                    width: 320px;
                                    height: auto;
                                    right: -42px;
                                    bottom: 35px;
                                }

                                @media (min-width: 1400px) {
                                    width: 372px;
                                    height: auto;
                                    right: -55px;
                                    bottom: 30px;
                                }
                            }
                        }
                    }

                    .col-two {
                        display: flex;
                        justify-content: center;
                        display: flex;

                        @media (max-width: 999px) {
                            display: none;
                        }

                        @media (min-width: 1000px) and (max-width: 1199px) {
                            padding: 27px 0px 27px 0px;
                        }

                        @media (min-width: 1200px) and (max-width: 1399px) {
                            padding: 40px 0px 40px 0px;
                        }

                        @media (min-width: 1400px) {
                            padding: 50px 0px 50px 0px;
                        }

                        button {
                            background-color: #4e9599;
                            color: #fff;
                            width: 65%;
                            padding: 5px;
                            border-radius: 30px;
                            border: 0;
                            font-weight: bold;


                            &:active {
                                box-shadow: 5px 7px 10px 2px rgba(0,0,0,.4);
                            }

                            @media (min-width: 1000px) and (max-width: 1199px) {
                                font-size: 1.2rem;
                            }

                            @media (min-width: 1200px) and (max-width: 1399px) {
                                font-size: 1.3rem;
                            }

                            @media (min-width: 1400px) {
                                width: 55%;
                                font-size: 1.4rem;
                            }
                        }
                    }

                    .col-three {
                        padding: 0;
                        display: flex;

                        @media (max-width: 999px) {
                            display: none;
                        }

                        #my_news {
                            border: 2px solid #4e9599;
                            padding: 5px 40px 6px 40px;
                            border-radius: 50px;
                            position: relative;
                            z-index: 25;
                            display: flex;

                            @media (min-width: 1000px) and (max-width: 1199px) {
                                height: 139px;
                            }

                            @media (min-width: 1200px) and (max-width: 1399px) {
                                height: 149px;
                            }

                            @media (min-width: 1400px) {
                                height: 210px;
                            }

                            #my_news-top {
                                flex: 0 1 auto;

                                a[name='news'] {
                                    text-align: center;
                                    text-decoration: none;
                                    color: #4e9599;
                                    font-weight: bold;

                                    @media (min-width: 1000px) and (max-width: 1199px) {
                                        font-size: 1rem;
                                    }

                                    @media (min-width: 1200px) and (max-width: 1399px) {
                                        font-size: 1.2rem;
                                    }

                                    @media (min-width: 1400px) {
                                        font-size: 1.4rem;
                                    }
                                }
                            }

                            #my_news-middle {
                                flex: 0 1 auto;

                                a[name='inst'] {
                                    text-align: center;
                                    text-decoration: none;
                                    color: #4F4E4E;
                                    font-weight: bold;
                                    font-size: 1rem;
                                    padding-bottom: 5px;

                                    @media (min-width: 1000px) and (max-width: 1199px) {
                                        font-size: 1rem;
                                    }

                                    @media (min-width: 1200px) and (max-width: 1399px) {
                                        font-size: 1.2rem;
                                    }

                                    @media (min-width: 1400px) {
                                        font-size: 1.4rem;
                                    }
                                }
                            }

                            #my_news-bottom {
                                flex-grow: 1;

                                .carousel-inner {
                                    height: 100%;
                                    display: flex;
                                    align-items: center;

                                    .carousel-item {

                                        @media (min-width: 1000px) and (max-width: 1199px) {
                                            height: 71px;
                                        }

                                        @media (min-width: 1200px) and (max-width: 1399px) {
                                            height: 71px;
                                        }

                                        @media (min-width: 1400px) {
                                            height: 100px;
                                        }

                                        p {
                                            background-color: #E1DBD8;
                                            border-radius: 52px;
                                            padding: 5px 20px 5px 20px;
                                            margin: 0;
                                            height: 100%;
                                            display: flex;
                                            align-items: center;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #index-mob-button-feedback {
            padding: 0 0 15px 0;

            button {
                background-color: #4e9599;
                color: #fff;
                width: 90%;
                padding: 5px;
                border-radius: 30px;
                border: 0;
                font-weight: bold;
                font-size: 1.5rem;

                &:active {
                    box-shadow: 5px 7px 10px 2px rgba(0,0,0,.4);
                }
            }
        }

        #my_news_mob {
            border: 2px solid #4e9599;
            padding: 0px 10px 7px 10px;
            border-radius: 50px;
            position: relative;
            z-index: 25;
            display: flex;
            width: 90%;

            #my_news-mob-top {
                flex: 0 1 auto;

                a[name='news'] {
                    text-align: center;
                    text-decoration: none;
                    color: #4e9599;
                    font-weight: bold;
                    font-size: 1.2rem;
                }
            }

            #my_news-mob-middle {
                flex: 0 1 auto;

                a[name='inst'] {
                    text-align: center;
                    text-decoration: none;
                    color: #2b2a2c;
                    font-weight: bold;
                    font-size: 1.1rem;
                    padding-bottom: 5px;
                }
            }

            #my_news-mob-bottom {
                flex-grow: 1;

                .carousel-inner {
                    height: 100%;
                    display: flex;
                    align-items: center;

                    .carousel-item {
                        height: 100px;

                        p {
                            background-color: #E1DBD8;
                            border-radius: 52px;
                            padding: 5px 20px 5px 20px;
                            margin: 0;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

#index-other {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

    @media (max-width: 999.99px) {
        display: none;
    }

    .container {
        position: relative;
        height: 100%;

        #index-top-rectangle {
            position: absolute;
            top: 0;
            background-color: #fbde98;
            border-bottom-right-radius: 43px;
            z-index: 11;

            @media (min-width: 1000px) and (max-width: 1199px) {
                right: 545px;
                width: 285px;
                height: 215px;
            }

            @media (min-width: 1200px) and (max-width: 1399px) {
                right: 660px;
                width: 323px;
                height: 225px;
            }

            @media (min-width: 1400px) {
                right: 735px;
                width: 387px;
                height: 279px;
            }
        }

        #index-bottom-rectangle {
            border-top-left-radius: 43px;
            background-color: #fbde98;
            position: absolute;
            right: 0;

            @media (min-width: 1000px) and (max-width: 1199px) {
                top: 546px;
                width: 150px;
                min-height: 165px;
                height: calc(100% - 546px);
            }

            @media (min-width: 1200px) and (max-width: 1399px) {
                top: 647px;
                width: 150px;
                min-height: 153px;
                height: calc(100% - 647px);
            }

            @media (min-width: 1400px) {
                top: 740px;
                width: 150px;
                min-height: 161px;
                height: calc(100% - 740px);
            }

            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                bottom: 0;
                right: -50vw;
                background-color: #fbde98;
                border-top-left-radius: 43px;
            }
        }
    }
}

#index-footer {

    .row {
        background-color: transparent;
        flex-grow: 1;

        @media (max-width: 999px) {
            background: linear-gradient(to left, rgba(249, 197, 54, 1) 0%, rgba(248, 197, 58, 1) 1.8502943217754364%, rgba(236, 229, 219, 1) 100%);
            min-height: 60px;
            margin-top: 15px;
        }

        @media (min-width: 1000px) and (max-width: 1199px) {
            min-height: 50px;
        }

        @media (min-width: 1200px) and (max-width: 1399px) {
            min-height: 46px;
        }

        @media (min-width: 1400px) {
            min-height: 60px;
        }
    }
}