/*#index-header {
    height: 22%;
    min-height: 150px;
    z-index: 10;

    @media (max-width: 767.98px) {
        height: 57px;
        z-index: auto;
        min-height: 57px;
        position: relative;
        background: linear-gradient(to right, rgba(249, 197, 54, 1) 0%, 0.9251471608877182%, rgba(248, 197, 58, 1) 1.8502943217754364%, 50.92514716088772%, rgba(236, 229, 219, 1) 100%);
    }

    .navbar {
        height: 100%;
        background: linear-gradient(to right, rgba(249, 197, 54, 1) 0%, 0.9251471608877182%, rgba(248, 197, 58, 1) 1.8502943217754364%, 50.92514716088772%, rgba(236, 229, 219, 1) 100%);


        @media (max-width: 767.98px) {
            background: transparent;
        }

        .container {
            bottom: 35px;

            @media (max-width: 767.98px) {
                bottom: auto;
            }
        }

        .navbar-collapse {

            @media (max-width: 767.98px) {
                position: absolute;
                top: 15px;
                width: 95%;
            }
        }

        .navbar-nav {
            right: 15px;

            @media (max-width: 767.98px) {
                right: auto;
                width: 90%;
            }

            @media (min-width: 1400px) {
                right: 55px;
            }

            .nav-link {
                font-size: 1rem !important;

                @media (min-width: 1200px) and (max-width: 1399px) {
                    font-size: 1.4rem !important;
                }

                @media (min-width: 1400px) {
                    font-size: 1.6rem !important;
                }
            }
        }
    }
}



#index-main {
    height: 78%;
    z-index: 150;

    @media (max-width: 767.98px) {
        height: auto;
    }

    #index_container {
        height: 100% !important;
        font-family: 'PlayfairDisplay';

        #index-content-top {
            @media (max-width: 767.98px) {
                height: 60%;
            }
        }

        #index-left-column {
            position: relative;
            padding-left: 0;

            @media (max-width: 767.98px) {
                width: 50%;
                height: 100%;
                padding-right: 0;
            }

            #wrap-home-left-image {
                position: relative;
                background-color: #4e9599;
                margin-top: -32%;
                width: auto;
                height: 61%;
                border-top-left-radius: 43px;
                border-bottom-left-radius: 43px;
                border-top-right-radius: 110px;
                z-index: 1050;

                &:before {
                    position: absolute;
                    content: '';
                    width: 75%;
                    top: -50vh;
                    right: -13%;
                    bottom: 49%;
                    background-color: #fbde98;
                    border-bottom-right-radius: 43px;
                }

                &:after {
                    position: absolute;
                    content: '';
                    height: 100%;
                    width: 100%;
                    left: -10px;
                    z-index: -1;
                    background-color: #4e9599;
                    border-top-left-radius: 43px;
                    border-bottom-left-radius: 43px;
                }

                @media (max-width: 767.98px) {
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    margin-top: 0;
                    z-index: 150;

                    &:before, &:after {
                        display: none !important;
                    }

                }

                @media (min-width: 1200px) and (max-width: 1399px) {
                    &:after {
                        left: -20px;
                    }
                }

                @media (min-width: 1400px) {
                    margin-top: -30%;

                    &:before {
                        bottom: 53%;
                    }

                    &:after {
                        left: -20px;
                    }
                }

                img {
                    border-top-left-radius: 110px;
                    border-top-right-radius: 110px;
                    width: auto;
                    height: 88vh;
                    min-height: 579px;
                    left: 5%;
                    -webkit-user-drag: none;
                    -khtml-user-drag: none;
                    -moz-user-drag: none;
                    user-drag: none;
                    draggable: false;
                    position: relative;
                    pointer-events: none;
                    user-select: none;

                    @media (max-width: 767.98px) {
                        height: 100%;
                        width: 100%;
                        left: 0;
                        bottom: 15px;
                        border-top-right-radius: 60px;
                        border-top-left-radius: 0;
                        min-height: auto;
                        z-index: 150;
                    }


                    @media (min-width: 992px) and (max-width: 1199px) {
                        max-height: 689px;
                    }

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        min-height: 671px;
                        max-height: 742px;
                    }

                    @media (min-width: 1400px) {
                        min-height: 730px;
                        max-height: 870px;
                    }

                }
            }
        }

        #index-right-column {

            @media (max-width: 767.98px) {
                width: 50%;
            }

            #index-middle-left {

                @media (max-width: 767.98px) {
                    height: 40%;
                    display: flex;
                    justify-content: center;
                }

                #name_hello {
                    position: relative;
                    top: 25px;
                    left: 17px;
                    z-index: 1050;

                    @media (max-width: 767.98px) {
                        left: 0;
                        top: 0;
                        margin-top: 40px;
                    }

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        top: 30px;
                    }

                    @media (min-width: 1400px) {
                        top: 38px;
                        left: 20px;
                    }

                    p {
                        font-size: 0.9rem;

                        @media (min-width: 992px) and (max-width: 1199px) {
                            font-size: 0.9rem;
                        }

                        @media (min-width: 1200px) and (max-width: 1399px) {
                            font-size: 1rem;
                        }

                        @media (min-width: 1400px) {
                            font-size: 1.1rem;
                        }
                    }

                    h1 {
                        color: #4e9599;
                        font-size: 1.9rem;
                        font-size: 2.3rem;
                        &::first-letter {
                            font-family: 'Monplesir script';
                        }

                        @media (max-width: 767.98px) {
                            font-size: 1.5rem;
                            margin-left: 10px;
                        }

                        @media (min-width: 1200px) and (max-width: 1399px) {
                            font-size: 3.2rem;
                        }

                        @media (min-width: 1400px) {
                            font-size: 3.6rem;
                        }

                    }
                }
            }

            #index-top-right-row-mob {
                @media (max-width: 767.98px) {
                    height: 100%;
                    flex-direction: column;
                }
            }

            #index-bottom-right-col-mob {

                @media (max-width: 767.98px) {
                    height: 60%;
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    padding-right: 0;
                }
            }

            #wrap-home-right-image {
                position: relative;
                height: 125%;
                background-color: #fbde98;
                border-radius: 43px;
                z-index: 1040;
                bottom: 16%;
                right: 37px;
                width: 240px;

                @media (max-width: 767.98px) {
                    position: absolute;
                    bottom: 10%;
                    right: auto;
                    width: 50%;
                    height: 100%;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                @media (min-width: 1200px) and (max-width: 1399px) {
                    right: 50px;
                    width: 296px;
                    bottom: 13%;
                }

                @media (min-width: 1400px) {
                    right: 50px;
                    width: 340px;

                }

                img {
                    position: absolute;
                    height: 100%;
                    left: 33px;
                    bottom: 25px;
                    border-radius: 43px;
                    -webkit-user-drag: none;
                    -khtml-user-drag: none;
                    -moz-user-drag: none;
                    user-drag: none;
                    draggable: false;
                    pointer-events: none;
                    user-select: none;

                    @media (max-width: 767.98px) {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        bottom: 0;
                        right: 0;
                        left: auto;
                        max-height: 73%;
                    }

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        left: 43px;
                    }

                    @media (min-width: 1400px) {
                        left: 50px;
                        bottom: 30px;
                    }
                }
            }

            #ask_question-wrap {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    background-color: #4e9599;
                    color: #fff;
                    width: 65%;
                    font-size: 1.1rem;
                    padding: 5px;
                    border-radius: 30px;
                    border: 0;
                    margin-top: 10px;
                    max-height: 50px;

                    &:active {
                        box-shadow: 5px 7px 10px 2px rgba(0,0,0,.4);
                    }

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        font-size: 1.3rem;
                    }

                    @media (min-width: 1400px) {
                        width: 55%;
                        font-size: 1.4rem;
                    }
                }
            }

            #index-bottom {
                position: relative;

                @media (min-width: 1200px) {
                    flex-direction: column;
                    align-items: center;
                }


                #my_news {
                    width: 95%;
                    border: 1px solid #4e9599;
                    padding: 5px 40px 0 40px;
                    border-radius: 50px;
                    z-index: 1050;
                    display: flex;
                    flex-direction: column;

                    a[name='news'] {
                        text-align: center;
                        text-decoration: none;
                        color: #4e9599;

                        @media (min-width: 1400px) {
                            font-size: 1.4rem;
                        }
                    }

                    a[name='inst'] {
                        text-align: center;
                        text-decoration: none;
                        color: #2b2a2c;
                        font-weight: bold;
                        font-size: 1rem;

                        @media (min-width: 1400px) {
                            font-size: 1.4rem;
                        }
                    }

                    .col-carousel {
                        padding: 10px;

                        p {
                            border-radius: 52px;
                            padding: 8px 30px 8px 30px;
                            background-color: #E1DBD8;
                            font-size: 13px;
                            margin: 0;

                            @media (min-width: 1200px) and (max-width: 1399px) {
                                font-size: 14px;
                            }

                            @media (min-width: 1400px) {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }

        #home-bottom-right-rectangle {
            width: 150px;
            height: 20vh;
            border-top-left-radius: 43px;
            background-color: #fbde98;
            position: absolute;
            right: 0;
            bottom: 0;

            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                bottom: 0;
                right: -50vw;
                background-color: #fbde98;
                border-top-left-radius: 43px;
                z-index: 150;
            }
        }

        #index-content-bottom-mob {
            height: 34%;

            #ask_question-wrap-mob {

                button {
                    background-color: #4e9599;
                    color: #fff;
                    width: 90%;
                    font-size: 1.5rem;
                    padding: 5px;
                    border-radius: 30px;
                    border: 0;
                    max-height: 60px;

                    &:active {
                        box-shadow: 5px 7px 10px 2px rgba(0,0,0,.4);
                    }
                }
            }

            #index-wrap-news-mob {
                position: relative;

                #my_news-mob {
                    width: 95%;
                    border: 1px solid #4e9599;
                    padding: 5px 10px 0 10px;
                    border-radius: 50px;
                    z-index: 1050;

                    a[name='news'] {
                        text-align: center;
                        text-decoration: none;
                        color: #4e9599;
                        font-size: 1.2rem;
                    }

                    a[name='inst'] {
                        text-align: center;
                        text-decoration: none;
                        color: #2b2a2c;
                        font-weight: bold;
                        font-size: 1rem;
                    }

                    .col-carousel {

                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        p {
                            border-radius: 52px;
                            padding: 8px 30px 8px 30px;
                            background-color: #E1DBD8;
                            font-size: 13px;
                            margin: 0;
                        }
                    }
                }
            }
        }

        #index-mob-footer {
            height: 60px;
            background: linear-gradient(to left, rgba(249, 197, 54, 1) 0%, rgba(248, 197, 58, 1) 1.8502943217754364%, rgba(236, 229, 219, 1) 100%);
        }
    }
}



/* new */

#index-header {

    @media (max-width: 767.98px) {
        min-height: 57px;
        z-index: auto;
        position: relative;
        background: linear-gradient(to right, rgba(249, 197, 54, 1) 0%, 0.9251471608877182%, rgba(248, 197, 58, 1) 1.8502943217754364%, 50.92514716088772%, rgba(236, 229, 219, 1) 100%);
    }

    @media (min-width: 1000px) and (max-width: 1199px) {
        min-height: 175px;
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
        min-height: 185px;
    }

    @media (min-width: 1400px) {
        min-height: 230px;
    }

    .navbar {
        height: 100%;
        background: linear-gradient(to right, rgba(249, 197, 54, 1) 0%, 0.9251471608877182%, rgba(248, 197, 58, 1) 1.8502943217754364%, 50.92514716088772%, rgba(236, 229, 219, 1) 100%);

        @media (max-width: 767.98px) {
            background: transparent;
        }

        .container {

            .navbar-collapse {

                .navbar-nav {
                    position: absolute;
                    z-index: 12;

                    @media (max-width: 767.98px) {
                        right: auto;
                        width: 90%;
                    }

                    @media (min-width: 1000px) and (max-width: 1199px) {
                        right: 10px;
                        top: 30px;
                    }

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        right: 10px;
                        top: 40px;
                    }

                    @media (min-width: 1400px) {
                        right: 15px;
                        top: 55px;
                    }

                    .nav-link {

                        @media (max-width: 767.98px) {
                            font-size: 1rem;
                        }

                        @media (min-width: 1000px) and (max-width: 1199px) {
                            font-size: 1.15rem !important;
                        }

                        @media (min-width: 1200px) and (max-width: 1399px) {
                            font-size: 1.45rem !important;
                        }

                        @media (min-width: 1400px) {
                            font-size: 1.6rem !important;
                        }
                    }
                }
            }
        }
    }
}


#index-main {

    #index-container {
        height: 100% !important;

        #index-content {

            #index-main-left-col {
                display: flex;
                flex-grow: 1;
                padding-left: 0;

                #index-main-wrap-left-image {
                    position: absolute;
                    background-color: #4e9599;
                    border-top-left-radius: 43px;
                    border-bottom-left-radius: 43px;
                    z-index: 22;

                    @media (min-width: 1000px) and (max-width: 1199px) {
                        top: -130px;
                        height: 290px;
                        width: 200px;
                    }

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        top: -120px;
                        height: 315px;
                        width: 200px;
                        border-bottom-left-radius: 55px;
                    }

                    @media (min-width: 1400px) {
                        top: -155px;
                        height: 390px;
                        width: 200px;
                        border-bottom-left-radius: 60px;
                    }



                    img {
                        width: auto;
                        position: absolute;
                        border-top-left-radius: 110px;
                        border-top-right-radius: 110px;
                        -webkit-user-drag: none;
                        -khtml-user-drag: none;
                        -moz-user-drag: none;
                        user-drag: none;
                        draggable: false;
                        pointer-events: none;
                        user-select: none;

                        @media (min-width: 1000px) and (max-width: 1199px) {
                            left: 20px;
                            height: 610px;
                        }

                        @media (min-width: 1200px) and (max-width: 1399px) {
                            left: 35px;
                            height: 689px;
                        }

                        @media (min-width: 1400px) {
                            left: 45px;
                            height: 826px;
                        }
                    }
                }
            }

            #index-main-right-col {

                @media (min-width: 1000px) and (max-width: 1199px) {
                    width: 545px;
                }

                @media (min-width: 1200px) and (max-width: 1399px) {
                    width: 660px;
                }

                @media (min-width: 1400px) {
                    width: 735px;
                }

                .row {
                    flex-direction: column;

                    .col-one {
                        display: flex;
                        position: relative;
                        padding: 0 0 0 0;

                        #name-hello {
                            margin-top: 40px;
                            display: inline-block;
                            background-color: transparent;
                            z-index: 22;

                            p {
                                font-weight: bold;
                            }

                            .name {
                                display: inline-block;
                                color: #4e9599;

                                @media (min-width: 1000px) and (max-width: 1199px) {
                                    font-size: 2.4rem;
                                }

                                @media (min-width: 1200px) and (max-width: 1399px) {
                                    font-size: 3.2rem;
                                }

                                @media (min-width: 1400px) {
                                    font-size: 3.4rem;
                                }


                                &::first-letter {
                                    font-family: 'Monplesir script';
                                    font-weight: normal;
                                }
                            }
                        }

                        #index-main-wrap-right-image {
                            position: absolute;
                            bottom: 0;
                            background-color: #fbde98;
                            border-radius: 43px;
                            z-index: 21;

                            @media (min-width: 1000px) and (max-width: 1199px) {
                                right: 35px;
                                height: 115%;
                                width: 290px;
                            }

                            @media (min-width: 1200px) and (max-width: 1399px) {
                                right: 42px;
                                height: 112%;
                                width: 325px;
                            }

                            @media (min-width: 1400px) {
                                right: 55px;
                                height: 120%;
                                width: 368px;
                                border-radius: 55px;
                            }

                            img {
                                position: absolute;
                                border-radius: 43px;

                                @media (min-width: 1000px) and (max-width: 1199px) {
                                    width: 291px;
                                    height: auto;
                                    right: -35px;
                                    bottom: 24px;
                                }

                                @media (min-width: 1200px) and (max-width: 1399px) {
                                    width: 320px;
                                    height: auto;
                                    right: -42px;
                                    bottom: 35px;
                                }

                                @media (min-width: 1400px) {
                                    width: 372px;
                                    height: auto;
                                    right: -55px;
                                    bottom: 30px;
                                }
                            }
                        }
                    }

                    .col-two {
                        display: flex;
                        justify-content: center;

                        @media (min-width: 1000px) and (max-width: 1199px) {
                            padding: 27px 0px 27px 0px;
                        }

                        @media (min-width: 1200px) and (max-width: 1399px) {
                            padding: 40px 0px 40px 0px;
                        }

                        @media (min-width: 1400px) {
                            padding: 50px 0px 50px 0px;
                        }

                        button {
                            background-color: #4e9599;
                            color: #fff;
                            width: 65%;
                            padding: 5px;
                            border-radius: 30px;
                            border: 0;
                            font-weight: bold;


                            &:active {
                                box-shadow: 5px 7px 10px 2px rgba(0,0,0,.4);
                            }

                            @media (min-width: 1000px) and (max-width: 1199px) {
                                font-size: 1.2rem;
                            }

                            @media (min-width: 1200px) and (max-width: 1399px) {
                                font-size: 1.3rem;
                            }

                            @media (min-width: 1400px) {
                                width: 55%;
                                font-size: 1.4rem;
                            }
                        }
                    }

                    .col-three {
                        padding: 0;

                        #my_news {
                            border: 1px solid #4e9599;
                            padding: 5px 40px 6px 40px;
                            border-radius: 50px;
                            position: relative;
                            z-index: 25;
                            display: flex;

                            @media (min-width: 1000px) and (max-width: 1199px) {
                                height: 139px;
                            }

                            @media (min-width: 1200px) and (max-width: 1399px) {
                                height: 149px;
                            }

                            @media (min-width: 1400px) {
                                height: 210px;
                            }

                            #my_news-top {
                                flex: 0 1 auto;

                                a[name='news'] {
                                    text-align: center;
                                    text-decoration: none;
                                    color: #4e9599;
                                    font-weight: bold;

                                    @media (min-width: 1000px) and (max-width: 1199px) {
                                        font-size: 1rem;
                                    }

                                    @media (min-width: 1200px) and (max-width: 1399px) {
                                        font-size: 1.2rem;
                                    }

                                    @media (min-width: 1400px) {
                                        font-size: 1.4rem;
                                    }
                                }
                            }

                            #my_news-middle {
                                flex: 0 1 auto;

                                a[name='inst'] {
                                    text-align: center;
                                    text-decoration: none;
                                    color: #2b2a2c;
                                    font-weight: bold;
                                    font-size: 1rem;
                                    padding-bottom: 5px;

                                    @media (min-width: 1000px) and (max-width: 1199px) {
                                        font-size: 1rem;
                                    }

                                    @media (min-width: 1200px) and (max-width: 1399px) {
                                        font-size: 1.2rem;
                                    }

                                    @media (min-width: 1400px) {
                                        font-size: 1.4rem;
                                    }
                                }
                            }

                            #my_news-bottom {
                                flex-grow: 1;

                                .carousel-inner {
                                    height: 100%;
                                    display: flex;
                                    align-items: center;

                                    .carousel-item {

                                        @media (min-width: 1000px) and (max-width: 1199px) {
                                            height: 73px;
                                        }

                                        @media (min-width: 1200px) and (max-width: 1399px) {
                                            height: 73px;
                                        }

                                        @media (min-width: 1400px) {
                                            height: 100px;
                                        }

                                        p {
                                            background-color: #E1DBD8;
                                            border-radius: 52px;
                                            padding: 5px 20px 5px 20px;
                                            margin: 0;
                                            height: 100%;
                                            display: flex;
                                            align-items: center;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#index-other {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

    @media (max-width: 999px) {
        display: none;
    }

    .container {
        position: relative;
        height: 100%;

        #index-top-rectangle {
            position: absolute;
            top: 0;
            background-color: #fbde98;
            border-bottom-right-radius: 43px;
            z-index: 11;

            @media (min-width: 1000px) and (max-width: 1199px) {
                right: 545px;
                width: 285px;
                height: 215px;
            }

            @media (min-width: 1200px) and (max-width: 1399px) {
                right: 660px;
                width: 323px;
                height: 225px;
            }

            @media (min-width: 1400px) {
                right: 735px;
                width: 387px;
                height: 279px;
            }
        }

        #index-bottom-rectangle {
            border-top-left-radius: 43px;
            background-color: #fbde98;
            position: absolute;
            right: 0;

            @media (min-width: 1000px) and (max-width: 1199px) {
                top: 546px;
                width: 150px;
                min-height: 165px;
                height: calc(100% - 546px);
            }

            @media (min-width: 1200px) and (max-width: 1399px) {
                top: 647px;
                width: 150px;
                min-height: 153px;
                height: calc(100% - 647px);
            }

            @media (min-width: 1400px) {
                top: 740px;
                width: 150px;
                min-height: 161px;
                height: calc(100% - 740px);
            }

            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                bottom: 0;
                right: -50vw;
                background-color: #fbde98;
                border-top-left-radius: 43px;
            }
        }
    }
}

#index-footer {

    .row {
        background-color: transparent;
        flex-grow: 1;

        @media (min-width: 1000px) and (max-width: 1199px) {
            min-height: 50px;
        }

        @media (min-width: 1200px) and (max-width: 1399px) {
            min-height: 46px;
        }

        @media (min-width: 1400px) {
            min-height: 60px;
        }
    }
}