#news-page {
    font-family: 'PlayfairDisplay';
    user-select: none;

    #news-top {
        h2 {
            color: #F5F5F5;
            &::first-letter {
                font-family: 'Monplesir script';
            }
        }

        p {
            font-size: 14px;
        }
    }

    img[alt='news-image'] {
        float: left;
        margin-right: 20px;
    }

    .news-text {

        p {
            margin: 0;
            font-size: 13px;
        }
    }
}