#schedule-header {
    height: 5%;

    .navbar {
        height: 100%;

        .navbar-nav {
            right: 30px;

            @media (min-width: 1200px) and (max-width: 1399px) {
                right: 42px;
            }

            @media (min-width: 1400px) {
                right: 56px;
            }

            .nav-link {
                font-size: 0.85rem !important;
                color: #4e9599;

                @media (min-width: 1200px) and (max-width: 1399px) {
                    font-size: 1.05rem !important;
                }

                @media (min-width: 1400px) {
                    font-size: 1.25rem !important;
                }
            }
        }
    }
}

#schedule-main {
    height: 95%;

    #schedule-container {
        height: 100% !important;
        font-family: 'PlayfairDisplay';
        user-select: none;
        height: inherit;
        position: relative;

        #schedule-top-row {
            height: 10%;

            .col {
                h2 {
                    color: #4e9599;

                    &::first-letter {
                        font-family: 'Monplesir script';
                    }

                    @media (min-width: 1400px) {
                        font-size: 2.3rem;
                     }
                }
            }
        }

        #schedule-bottom-row {
            height: 90%;

            .schedule-header {
                position: relative;
                height: 36px;
                width: 90%;
                border-radius: 43px;
                background: linear-gradient(to right, rgba(227, 236, 237, 1) 0%, 38.550421595573425%, rgba(122, 175, 177, 1) 77.10084319114685%, 88.55042159557343%, rgba(88, 155, 159, 1) 100%);
                z-index: 100;

                @media (min-width: 1400px) {
                    height: 45px;
                }

                span {
                    padding: 0 45px 0 45px;
                    font-size: 1.4rem;
                    font-weight: bold;

                    @media (min-width: 1400px) {
                        font-size: 1.6rem;
                     }
                }
            }

            .schedule-box {
                display: flex;
                flex-direction: column;
                width: 90%;
                position: relative;
                border: 1px solid #4e9599;
                border-radius: 43px;
                margin-top: 15px;
                z-index: 100;
                background: #ece4d8;

                p {
                    text-align: center;
                    font-size: 13px;
                    margin: 0;

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        font-size: 15px;
                    }

                    @media (min-width: 1400px) {
                        font-size: 17px;
                     }

                    strong {
                        &.color_true {
                            color: #4e9599;
                        }
                    }
                }

                a {
                    font-size: 13px;

                     @media (min-width: 1200px) and (max-width: 1399px) {
                        font-size: 15px;
                    }

                    @media (min-width: 1400px) {
                        font-size: 17px;
                     }
                }

                button {
                    background-color: #4e9599;
                    color: #fff;
                    width: 65%;
                    font-size: 1.1rem;
                    padding: 5px;
                    border-radius: 30px;
                    border: 0;
                    margin-top: 10px;
                }

                .schedule-star {
                    position: absolute;
                    background-color: #fbde98;
                    left: 28px;
                    bottom: 31px;
                    width: 25px;
                    height: 25px;
                    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

                    @media (min-width: 1200px) and (max-width: 1399px) {
                        left: 42px;
                        bottom: 36px;
                    }

                    @media (min-width: 1400px) {
                        left: 58px;
                        bottom: 40px;
                     }
                }
            }

            #col-left-bottom {
                position: relative;
                z-index: 1;

                &:before {
                    position: absolute;
                    content: '';
                    height: 93%;
                    right: 58%;
                    bottom: 0;
                    left: -50vw;
                    border-top-right-radius: 43px;
                    background-color: #fbde98;
                    z-index: 0;
                }
            }

            #col-right-bottom {
                border-top-left-radius: 43px;
                position: relative;
                background: linear-gradient(to bottom, rgba(234, 239, 239, 1) 0%, 29.588013887405396%, rgba(170, 201, 203, 1) 59.17602777481079%, 79.5880138874054%, rgba(119, 172, 175, 1) 100%);

                &:after {
                    position: absolute;
                    content: '';
                    height: 100%;
                    right: -50vw;
                    left: 0;
                    border-top-left-radius: 43px;
                    z-index: 5;
                    background: linear-gradient(to bottom, rgba(234, 239, 239, 1) 0%, 29.588013887405396%, rgba(170, 201, 203, 1) 59.17602777481079%, 79.5880138874054%, rgba(125, 176, 179, 1) 100%);
                }
            }
        }

        #schedule-top-right {
            position: absolute;
            top: -6%;
            right: 0;
            width: 213px;
            height: 28%;
            background-color: #fbde98;
            z-index: 5;

            @media (min-width: 1200px) and (max-width: 1399px) {
                width: 255px;
            }

            @media (min-width: 1400px) {
                width: 284px;
                min-height: 233px;
            }

            &:after {
                position: absolute;
                content: '';
                height: 100%;
                width: 100vw;
                background-color: #fbde98;
                z-index: 150;
            }
        }
    }


    .left-color {
        color: #ece4d8;
    }

    .right-color {
        color: #4e9599;
    }

    .header-right-bottom {
        background: transparent !important;
    }

    .box-right-bottom {
        padding-top: 10px;
        padding-bottom: 20px;

        @media (min-width: 1200px) and (max-width: 1399px) {
            height: 155px;
        }

        @media (min-width: 1400px) {
            height: 175px;
        }

        button {
            @media (min-width: 1400px) {
                font-size: 1.3rem !important;
            }
        }
    }
}


#schedule-modal-group {

    .modal-dialog {
        max-width: 700px;

        form {
            .modal-content {

                .modal-body {
                    padding: 0 40px 0 40px;

                    label[for="InputName"], label[for="InputContact"] {
                        color: #4e9599;

                        &::first-letter {
                            font-family: 'Monplesir script';
                        }
                    }

                    label[for="InputName"] {
                        padding: 0 0 0 10px;
                        font-size: 1.8rem;

                    }

                    label[for="InputContact"] {
                        font-size: 1.1rem;
                        line-height: 1;
                        text-align: center;

                        small {
                            font-size: 11px;
                        }

                    }

                    input[id="InputName"], input[id="InputContact"] {
                        border-radius: 43px;
                        height: 50px;

                        &:focus {
                            outline: none;
                            border-color: #4e9599;
                            box-shadow: 0 0 0 0.2rem rgba(78, 149, 153, 0.5);
                        }
                    }

                    #write-group {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 50px;
                        background-color: #fbde98;
                        border-radius: 43px;

                        span {
                            font-size: 1.5rem;

                            &::first-letter {
                                font-family: 'Monplesir script';
                            }
                        }
                    }

                    #select-col {
                        position: relative;

                        &:after {
                            content: '▼';
                            position: absolute;
                            color: #4e9599;
                            top: 50%;
                            right: 30px;
                            transform: translateY(-50%);
                            pointer-events: none;
                        }

                        .form-select {
                            border-radius: 43px;
                            background-image: none;

                            &:focus {
                                outline: none;
                                border-color: #4e9599;
                                box-shadow: 0 0 0 0.2rem rgba(78, 149, 153, 0.5);
                            }
                        }
                    }

                    .form-check {

                        input {
                            width: 25px;
                            height: 25px;

                            &:focus {
                                outline: none;
                                border-color: #4e9599;
                                box-shadow: 0 0 0 0.2rem rgba(78, 149, 153, 0.5);
                            }

                            &:checked {
                                background-color: #4e9599;
                                border-color: #4e9599;
                            }
                        }

                        label {
                            font-size: 11px;
                            color: inherit;
                            padding: 7px 0 0 10px;
                        }
                    }

                }

                .modal-footer {
                    button {
                        width: 60%;
                        font-size: 1.2rem;

                        @media (min-width: 1400px) {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}

.schedule-popover {
    --bs-popover-max-width: 50% !important;
    --bs-popover-border-color: #4e9599 !important;
    --bs-popover-header-bg: #ece4d8 !important;
    --bs-popover-header-color: #ece4d8 !important;
    --bs-popover-bg: #ece4d8 !important;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: .5rem;

    ::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
    }

    /* Add a thumb */
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #4e9599;
    }

    .popover-body {
        max-height: 600px !important; /* Фиксированная высота */
        overflow-y: auto !important;
        user-select: none;

    }
}

