@import url('/static/main/css/header.css');
@import url('/static/main/css/index.css');
@import url('/static/main/css/about.css');

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/static/main/font/PlayfairDisplay.ttf') format('truetype');
}

@font-face {
    font-family: 'Monplesir script';
    src: url('/static/main/font/Monplesir_script.ttf') format('truetype');
}

html, body {
    overflow: hidden;
    background-color: #ece4d8 !important;
}
