@import url('/static/main/css/index.css');

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/static/main/font/PlayfairDisplay.ttf') format('truetype');
}

@font-face {
    font-family: 'Monplesir script';
    src: url('/static/main/font/Monplesir_script.ttf') format('truetype');
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #ece6e4 !important;
}

/* body {
    background-image: url('/static/main/img/background_1920x1379.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */

