{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
<header id="about-header">
    {% include 'main/navbar.html' %}
</header>
{% endblock %}

{% block main %}
<main id="about-main">
    <div class="container bg-light" id="about-container">
        <div class="row">
            <div class="col-5 position-relative" id="about-top-left-col">
                <div id="wrap-about-image">
                    <img src="{% static 'main/img/about-image.png' %}" alt="about-image">
                </div>
            </div>
            <div class="col-7" id="about-top-right-col">
                <div class="vertical-line-text">
                    <p>
                        <strong>Магистр</strong> практико-ориентированной психологии (психологическое <br>
                        консультирование и психокоррекция), <strong>групповой терапевт</strong>. <br>
                        <br>
                        Более 10 лет работаю с группами и все больше убеждаюсь <br>
                        в эффективности групповых процессов. <br>
                        <br>
                        В работе я внимательный, бережный и устойчивый групповой <br>
                        терапевт. Умею быть рядом с вами, обсуждать тяжелые темы <br>
                        и сильные чувства, говорить о глубоком и важном.
                    </p>
                </div>
            </div>
        </div>
        <div class="row about-gradient">
            <div class="col-3 about-middle-zindex">
                <div id="about-one">
                    <span>01</span>
                    <p>Тут что-то надо написать</p>
                </div>
            </div>
            <div class="col-6 d-flex about-middle-zindex" id="about-middle-center">
                <h2>Почему груповая терапия?</h2>
                <div id="about-two">
                    <span>02</span>
                    <p>Тут что-то надо <br> написать</p>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-end about-middle-zindex">
                <div id="about-three">
                    <span>03</span>
                    <p>Тут что-то надо написать</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-3" id="about-bottom-col">

                <h2>Моё образование</h2>

                <div class="vertical-line-text">
                    <p>
                        Училась в Белорусском государственном университете по специальности <span>"Психологическое консультирование и психокоррекция"</span> <br>
                        (<a href="#" data-bs-toggle="modal" data-bs-target="#about-modal-one">диплом магистра</a>, 2014 г.), успешно завершила программу по специализации <span>"Зависимость и зависимые отношения. Гештальт-подход"</span> <br>
                        (<a href="#" data-bs-toggle="modal" data-bs-target="#about-modal-two">сертификат</a> Общества практикующих психологов <span>"Гештальт-подход"</span>, 2012 г.) и по программе <span>"Группа как инструмент психологической <br>
                        помощи"</span> (<a href="#" data-bs-toggle="modal" data-bs-target="#about-modal-three">сертификат</a> Института супервизии и групповой терапии, 2024 г.). <br>
                        Свои группы я веду под регулярной супервизией.
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="about-modal-one" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="about-modal-oneLabel">Диплом магистра</h5>
                    <div class="circle-button" data-bs-dismiss="modal" aria-label="Close"></div>
                </div>
                <div class="modal-body position-relative">
                    <img src="{% static 'main/img/diplom-magistr.jpg' %}" alt="master-degree">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="about-modal-two" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="about-modal-twoLabel">Сертификат</h5>
                    <div class="circle-button" data-bs-dismiss="modal" aria-label="Close"></div>
                </div>
                <div class="modal-body">
                    <img src="{% static 'main/img/sert-gesh-podh.jpg' %}" alt="sert-gesh">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="about-modal-three" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="about-modal-threeLabel">Сертификат</h5>
                    <div class="circle-button" data-bs-dismiss="modal" aria-label="Close"></div>
                </div>
                <div class="modal-body">
                    <img src="{% static 'main/img/sert-group-ter.jpg' %}" alt="sert-group-ter">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
