{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block google_tags %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-27K13ETBN6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-27K13ETBN6');
</script>
{% endblock %}

{% block header %}
<header id="contacts-header">
    {% include 'main/navbar.html' %}
</header>
{% endblock %}

{% block main %}
<main id="contacts-main">
    <div class="container position-relative" id="contacts-container">
        <div class="row d-md-none" id="mob-page-name">
            <div class="col d-flex justify-content-center align-items-center">
                <h2>Контакты</h2>
            </div>
        </div>
        <div class="row" id="contacts-top-row">
            <div class="col d-flex justify-content-start" id="contacts-left">
                <div class="row-1 w-100">
                    <div class="col d-none d-md-flex justify-content-center">
                        <h2>Контакты</h2>
                    </div>
                    <div class="col mt-1 d-flex justify-content-center">
                        <div class="row-1 d-flex flex-column justify-content-center" id="contacts-info">
                            <div class="col-auto py-2 d-flex justify-content-center">
                                <i class="bi bi-person-fill"></i>
                                <h5>Катерина Красницкая</h5>
                            </div>
                            <div class="col-auto py-2">
                                <div class="row">
                                    <div class="col d-flex justify-content-start">
                                        <i class="bi bi-telephone-fill"></i>
                                        <a href="tel:38268415027" class="ms-2">+(382)68-415-027</a>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <i class="bi bi-envelope-fill me-2"></i>
                                        <a href="#">электронная почта</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto py-2 d-flex justify-content-center">
                                <i class="bi bi-geo-alt-fill"></i>
                                <p>Рафаиловичи, Черногория</p>
                            </div>
                            <div class="col py-2 d-flex flex-grow-1 justify-content-center">
                                <div class="w-100 h-100" id="contacts-map">
                                    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3693.277325065265!2d18.828007876105648!3d42.288183471199694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDLCsDE3JzE3LjUiTiAxOMKwNDknNTAuMSJF!5e1!3m2!1sru!2sua!4v1726653403480!5m2!1sru!2sua">
                                        <a href="https://www.gps.ie/">gps trackers</a>
                                    </iframe>
                                </div>
                            </div>
                            <div class="col-auto py-2 d-flex justify-content-center">
                                <p>Вы можете найти меня в социальных сетях:</p>
                            </div>
                            <div class="col-auto py-2">
                                <div class="row">
                                    <div class="col d-flex">
                                        <i class="bi bi-facebook"></i>
                                        <a class="ms-2" href="https://www.facebook.com/profile.php?id=100095087881095" target="_blank">профиль в Facebook</a>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <i class="bi bi-instagram me-2"></i>
                                        <a href="https://www.instagram.com/katerina_krasnitskaya?igsh=cnB5cHNhaHJsMmEy" target="_blank">блог в Instagram</a>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col d-flex" id="contacts-tg">
                                        <i class="bi bi-telegram"></i>
                                        <a class="ms-2" href="https://t.me/group_therapy_montenegro" target="_blank" >мой телеграм-канал "Групповая терапия. Будва"</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto py-2 d-flex flex-grow-2 justify-content-center">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#feedback_modal" class="align-self-center">ЗАДАТЬ ВОПРОС</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col order-first order-md-last d-flex justify-content-center" id="contacts-right">
                <picture>
                    <source media="(max-width: 767.98px)" srcset="{% static 'main/img/mob-contacts.png' %}">
                    <img src="{% static 'main/img/contacts-foto.png' %}" alt="contacts-foto">
                </picture>
            </div>
        </div>
        <div class="row" id="contacts-bottom-row">
            <div class="col-6 position-relative d-flex justify-content-start align-items-center">
                <a href="#">Пользовательское соглашение</a>
            </div>
            <div class="col-6 position-relative d-flex justify-content-end align-items-center">
                <a href="#">Политика конфиденциальности</a>
            </div>
        </div>
        <div id="top-left-block"></div>
    </div>
</main>
{% endblock %}

{% block modal %}
    {% include 'main/feedback_modal.html' %}
{% endblock %}