{% load static %}

<div class="modal fade" id="feedback_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" method="post" novalidate>
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header justify-content-end">
                    <div class="circle-button" data-bs-dismiss="modal" aria-label="Close"></div>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label for="InputName" class="col-sm-4 col-form-label">Ваше имя</label>
                        <div class="col-sm-8">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="InputContact" class="col-sm-4 col-form-label">
                            Как с вами связаться<br>
                            <small class="text-muted">(телефон, электронная почта)</small>
                        </label>
                        <div class="col-sm-8">
                            {{ form.contact }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="write-feedback">
                                <span>С чем бы хотели обратиться/Ваш запрос:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-floating">
                                {{ form.text }}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col d-flex justify-content-center">
                            <div class="form-check">
                                {{ form.agree_to_privacy_policy }}
                                <label class="form-check-label" for="data_check">
                                    Согласен/ на обработку персональных данных
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>