{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block google_tags %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-27K13ETBN6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-27K13ETBN6');
</script>
{% endblock %}

{% block header %}
<header id="groups-header">
    {% include 'main/navbar.html' %}
</header>
{% endblock %}


{% block main %}
<main id="groups-main">
    <div class="container" id="groups-container">
        <div id="groups-top-right"></div>
        <div class="row" id="groups-top-row">
            <div class="col d-flex justify-content-center align-items-center">
                <h2>Группы</h2>
            </div>
        </div>
        {% for group_lesson in group_lessons %}
            <div class="row groups-header">
                <div class="col d-flex align-items-center">
                    <span class="span-left">{{ group_lesson.name|capfirst }}</span>
                </div>
                <div class="col d-flex align-items-center justify-content-end">
                    <span class="span-right">{{ group_lesson.city|capfirst }}, {{ group_lesson.get_day_display|lower }}, c {{ group_lesson.start_time }} до {{ group_lesson.end_time }}/{{ group_lesson.get_price }}</span>
                </div>
            </div>
            <div class="row mt-4 mb-4 groups-box">
                <div class="col">
                    {{ group_lesson.description|safe }}
                </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}