{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block google_tags %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-27K13ETBN6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-27K13ETBN6');
</script>
{% endblock %}

{% block header %}
<header id="groups-header">
    {% include 'main/navbar.html' %}
</header>
{% endblock %}


{% block main %}
<main id="groups-main">
    <div class="container" id="groups-container">
        <div id="groups-top-right"></div>
        <div class="row d-flex" id="groups-top-row">
            <div class="col d-flex justify-content-center align-items-center">
                <h2>Группы</h2>
            </div>
        </div>
        <div class="row" id="groups-middle">
            <div class="col h-md-100">
                <div class="carousel slide" id="groups-carousel">
                    <div id="carousel-inner">
                         <div class="carousel-indicators">
                             {% for group_lesson in group_lessons %}
                                <button type="button" data-bs-target="#groups-carousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-label="Slide {{ forloop.counter }}"></button>
                             {% endfor %}
                        </div>
                        {% for group_lesson in group_lessons %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-group-id="{{ group_lesson.id }}">
                                <div class="d-md-none d-flex justify-content-center align-items-center mob-groups-item-header">
                                    <button class="carousel-control-prev d-md-none" type="button" data-bs-target="#groups-carousel"  data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Предыдущий</span>
                                    </button>
                                    <h6>{{ group_lesson.name|capfirst }}</h6>
                                    <button class="carousel-control-next d-md-none" type="button" data-bs-target="#groups-carousel"  data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Следующий</span>
                                    </button>
                                </div>
                                <div class="groups-header position-relative">
                                    <span class="span-left d-none d-md-block">{{ group_lesson.name|capfirst }}</span>
                                    <span class="span-right d-none d-md-block">{{ group_lesson.city|capfirst }}, {{ group_lesson.get_day_display|lower }}, c {{ group_lesson.start_time }} до {{ group_lesson.end_time }}/{{ group_lesson.get_price }}</span>
                                    <span class="d-md-none">
                                        {{ group_lesson.city|capfirst }}<br>
                                        {{ group_lesson.get_day_display|lower }}, c {{ group_lesson.start_time }} до {{ group_lesson.end_time }}/{{ group_lesson.get_price }}
                                    </span>
                                </div>
                                <div class="groups-box mostly-customized-scrollbar">
                                    <div class="col groups-description h-100">
                                        {{ group_lesson.description|safe }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev d-none d-md-flex" type="button" data-bs-target="#groups-carousel"  data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next d-none d-md-flex" type="button" data-bs-target="#groups-carousel"  data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row order-first order-md-last" id="groups-bottom">
            <div class="col d-flex justify-content-center align-items-center">
                <div id="groups-box-form">
                    <p>Если вы хотите записаться в группу, заполните, пожалуйста форму</p>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#groups-modal" class="align-self-center">ХОЧУ В ГРУППУ</button>
                </div>
            </div>
            <div class="d-none d-md-block" id="groups-bottom-left"></div>
            <div class="d-none d-md-block" id="groups-bottom-right"></div>
        </div>
        <div class="row d-md-none" id="groups-mob-bottom">
            <div class="col"></div>
        </div>
    </div>
</main>
{% endblock %}

{% block modal %}
<div class="modal fade" id="groups-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" method="post" novalidate>
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header justify-content-end">
                    <div class="circle-button" data-bs-dismiss="modal" aria-label="Close"></div>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label for="InputName" class="col-sm-4 col-form-label">Ваше имя</label>
                        <div class="col-sm-8">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="InputContact" class="col-sm-4 col-form-label">
                            Как с вами связаться<br>
                            <small class="text-muted">(телефон, электронная почта)</small>
                        </label>
                        <div class="col-sm-8">
                            {{ form.contact }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="write-group">
                                <span>Я хочу записаться в группу:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col" id="select-col">
                            {{ form.group }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col d-flex justify-content-center">
                            <div class="form-check">
                                {{ form.agree_to_privacy_policy }}
                                <label class="form-check-label" for="data_check">
                                    Согласен/ на обработку персональных данных
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'main/js/groups_modal.js' %}"></script>
<script src="{% static 'main/js/groups-carousel.js' %}"></script>
{% endblock %}