{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="row w-100">
                <div class="col-auto position-relative" id="navbar-left-column">
                    <div id="home-top-rectangle"></div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="col">
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" href="#" draggable="false">ОБО МНЕ</a>
                            <a class="nav-link" href="#" draggable="false">РАСПИСАНИЕ</a>
                            <a class="nav-link" href="#" draggable="false">ГРУППЫ</a>
                            <a class="nav-link" href="#" draggable="false">КОНТАКТЫ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <div class="container position-relative bg-dark" id="index_page">
        <div class="row">
            <div id="index-left-column" class="col-auto bg-light">
                <div id="wrap-home-left-image">
                    <img src="{% static 'main/img/home-left.jpg' %}" alt="home-left">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-auto bg-light" id="index-middle-left">
                        <div id="name_hello">
                            <p>Меня зовут</p>
                            <h1>Катерина</h1>
                            <h1>Красницкая<span>,</span></h1>
                            <p>я - пcихолог,</p>
                            <p>групповой терапевт</p>
                        </div>
                    </div>
                    <div class="col position-relative bg-dark">
                        <div id="wrap-home-right-image">
                            <img src="{% static 'main/img/home-right.jpg' %}" alt="home-right">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="ask_question-wrap">
                        <button type="button" class="btn" name="ask_question">ЗАДАТЬ ВОПРОС</button>
                    </div>
                </div>
<!--                <div class="row">-->
<!--                    <div class="col" id="index-bottom">-->
<!--                        <div id="my_news">-->
<!--                            <div class="row">-->
<!--                                <div class="col">-->
<!--                                    <h4>МОИ НОВОСТИ</h4>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="col">-->
<!--                                    <div class="d-grid">-->
<!--                                        <a href="#" draggable="false">| katherine krasnitskay |</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="row mt-2">-->
<!--                                <div class="col">-->
<!--                                    <div>-->
<!--                                        <p>-->
<!--                                            Часто мне задают вопрос: может, и мне пора на терапию? Кода я-->
<!--                                            слышу его, непроизвольно мимика моего лица меняется, выражая-->
<!--                                            симпатию...-->
<!--                                        </p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div id="home-bottom-right-rectangle"></div>
            </div>
        </div>
    </div>
    <div id="home-bottom-right-rectangle-2"></div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            if ($(window).width() >= 992) {
                // Получаем элементы
                var $navbar = $('header .navbar');
                var $topRectangle = $('#home-top-rectangle');
                var $navbarLeftColumn = $('#navbar-left-column');
                var $indexLeftColumn = $('#index-left-column');
                var $indexRightWrap = $('#wrap-home-right-image');
                var $imageRight = $('#wrap-home-right-image img');
                var $indexBottomRectangle = $('#home-bottom-right-rectangle');
                var $indexBottomRectangle2 = $('#home-bottom-right-rectangle-2');

                function syncNavbarColumnWidth() {
                    $navbarLeftColumn.css('width', $indexLeftColumn.outerWidth());
                    $topRectangle.css('height', $navbar.outerHeight() + 80);
                    $indexRightWrap.css('width', $imageRight.outerWidth() - 20);
                    $indexBottomRectangle2.css('height', $indexBottomRectangle.outerHeight());
                }

                // Синхронизируем ширину при загрузке страницы
                syncNavbarColumnWidth();

                // Синхронизируем ширину при изменении размера окна
                $(window).resize(syncNavbarColumnWidth);
            }
        });
    </script>
{% endblock %}