{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block google_tags %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-27K13ETBN6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-27K13ETBN6');
</script>
{% endblock %}

{% block header %}
<header id="index-header">
    {% include 'main/navbar.html' %}
</header>
{% endblock %}

{% block main %}
<main id="index-main">
    <div class="container position-relative" id="index_container">
        <div class="row">
            <div class="col-auto" id="index-left-column">
                <div id="wrap-home-left-image">
                    <img src="{% static 'main/img/home-left.jpg' %}" alt="left-image">
                </div>
            </div>
            <div class="col d-flex flex-column" id="index-right-column">
                <div class="row">
                    <div class="col-auto position-relative" id="index-middle-left">
                        <div id="name_hello">
                            <p>Меня зовут</p>
                            <h1>Катерина</h1>
                            <h1>Красницкая<span>,</span></h1>
                            <p>я - психолог,<br>групповой терапевт</p>
                        </div>
                    </div>
                    <div class="col position-relative">
                        <div id="wrap-home-right-image">
                            <img src="{% static 'main/img/home-right.jpg' %}" alt="right-image">
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-grow-1">
                    <div class="col" id="ask_question-wrap">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#feedback_modal">ЗАДАТЬ ВОПРОС</button>
                    </div>
                </div>
                <div class="row d-flex">
                    <div class="col d-flex justify-content-center" id="index-bottom">
                        <div class="row-1" id="my_news">
                            <div class="col d-flex justify-content-center">
                                <a name="news" href="{% url 'news' %}" draggable="false">МОИ НОВОСТИ</a>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <a name="inst" href="https://www.instagram.com/katerina_krasnitskaya?igsh=cnB5cHNhaHJsMmEy" target="_blank" draggable="false">| katerina_krasnitskaya |</a>
                            </div>
                            {% for text in news_text %}
                                <div class="col py-2 news-item" style="{% if forloop.first %}display: block;{% else %}display: none;{% endif %}">
                                    <p>{{ text|safe }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <div id="home-bottom-right-rectangle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block modal %}
    {% include 'main/feedback_modal.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'main/js/change_news.js' %}"></script>
{% endblock %}