{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="container position-relative" id="index_page">
        <div class="row">
            <div class="col-auto" id="index-left-column">
                <div id="wrap-home-left-image">
                    <img src="{% static 'main/img/home-left.jpg' %}" alt="left-image">
                </div>
            </div>
            <div class="col" id="index-right-column">
                <div class="row">
                    <div class="col-auto position-relative" id="index-middle-left">
                        <div id="name_hello">
                            <p>Меня зовут</p>
                            <h1>Катерина</h1>
                            <h1>Красницкая<span>,</span></h1>
                            <p>я - психолог,<br>групповой терапевт</p>
                        </div>
                    </div>
                    <div class="col position-relative">
                        <div id="wrap-home-right-image">
                            <img src="{% static 'main/img/home-right.jpg' %}" alt="right-image">
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col" id="ask_question-wrap">
                        <button type="button">ЗАДАТЬ ВОПРОС</button>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col position-relative" id="index-bottom">
                        <div id="my_news">
                            <a name="news" href="#" draggable="false">МОИ НОВОСТИ</a>
                            <a name="inst" href="#" draggable="false">| katherine krasnitskay |</a>
                            <div>
                                <p>
                                    Часто мне задают вопрос: может, и мне пора на терапию? Кода я
                                    слышу его, непроизвольно мимика моего лица меняется, выражая
                                    симпатию...
                                </p>
                            </div>
                        </div>
                        <div id="home-bottom-right-rectangle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="home-bottom-right-rectangle-2"></div>
    <div id="home-top-rectangle"></div>
{% endblock %}