{% load static %}

<nav class="navbar navbar-expand-lg {% if navbar_property %}{{ navbar_property }}{% endif %}">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link {% if request.path == '/' %}d-none{% endif %}" href="{% url 'home' %}" draggable="false">
                    <i class="bi bi-house-heart-fill"></i>
                </a>
                <a class="nav-link {% if request.path == '/about' %}active{% endif %}" href="{% url 'about' %}" draggable="false">ОБО МНЕ</a>
                <a class="nav-link {% if request.path == '/' %}d-none{% endif %} {% if request.path == '/news/' %}active{% endif %}" href="{% url 'news' %}" draggable="false">НОВОСТИ</a>
                <a class="nav-link {% if request.path == '/groups' %}active{% endif %}" href="#" draggable="false">ГРУППЫ</a>
                <a class="nav-link {% if request.path == '/schedule' %}active{% endif %}" href="{% url 'schedule' %}" draggable="false">РАСПИСАНИЕ</a>
                <a class="nav-link {% if request.path == '/contacts' %}active{% endif %}" href="{% url 'contacts' %}" draggable="false">КОНТАКТЫ</a>
            </div>
        </div>
    </div>
</nav>