{% extends 'main/layout.html' %}
{% load static main_extras %}

{% block title %}{{ title }}{% endblock %}

{% block google_tags %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-27K13ETBN6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-27K13ETBN6');
</script>
{% endblock %}

{% block header %}
<header id="schedule-header">
    {% include 'main/navbar.html' %}
</header>
{% endblock %}

{% block main %}
<main id="schedule-main">
    <div class="container" id="schedule-container">
        <div class="row d-flex" id="schedule-top-row">
            <div class="col d-flex justify-content-center align-items-center">
                <h2>Расписание</h2>
            </div>
        </div>
        <div class="row d-md-none" id="mob-schedule-form-row">
            <div class="col d-flex justify-content-center align-items-center">
                <div id="schedule-box-form">
                    <p>Если вы хотите записаться в группу, заполните, пожалуйста форму</p>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#schedule-modal-group" class="align-self-center">ХОЧУ В ГРУППУ</button>
                </div>
            </div>
            <div class="d-none d-md-block" id="groups-bottom-left"></div>
            <div class="d-none d-md-block" id="groups-bottom-right"></div>
        </div>
        <div class="row row-cols-2 d-none d-md-flex schedule-bottom-row">
            {% for day in schedule_days %}
                <div class="col {% if day == 'ЧТ' or day == 'ПТ' %}d-flex flex-column align-items-end{% endif %}" id="{% if day == 'СР' %}col-left-bottom{% endif %}">
                    <div class="row schedule-header">
                        <div class="col d-flex align-items-center {% if day == 'ЧТ' or day == 'ПТ' %}justify-content-start{% else %}justify-content-end{% endif %}">
                            <span class="{% if day == 'ЧТ' or day == 'ПТ' %}right-color{% else %}left-color{% endif %}">{{ day }}</span>
                        </div>
                    </div>
                    <div class="row schedule-box">
                        {% if day in grouped_lessons and grouped_lessons|get_item:day %}
                            {% for group in grouped_lessons|get_item:day %}
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <p>
                                                <strong class="d-flex justify-content-center">
                                                    {{ group.start_time }} - {{ group.end_time }}
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-center">
                                            <button name="popover" data-bs-toggle="popover" data-bs-custom-class="schedule-popover" data-bs-content="{{ group.description|safe }}" data-bs-html="true" data-bs-trigger="focus">
                                                {{ group.name }}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {% if group.available_slots > 0 %}
                                                <p>
                                                    <strong class="d-flex justify-content-center color_true">
                                                        (есть {{ group.available_slots }} мес{{ group.available_slots|ru_plural:'то,та,т' }})
                                                    </strong>
                                                </p>
                                            {%  else %}
                                                <p>
                                                    <strong class="d-flex justify-content-center">
                                                        (нет мест)
                                                    </strong>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col">
                                <p class="d-flex justify-content-center">
                                    Нет занятий
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="col d-none d-md-flex flex-column justify-content-center align-items-end" id="col-right-bottom">
                <div class="row schedule-header justify-content-end header-right-bottom"></div>
                <div class="row schedule-box justify-content-center box-right-bottom">
                    <p>Если вы хотите записаться в группу, заполните, <br>
                        пожалуйста форму
                    </p>
                    <button name="form" type="button" data-bs-toggle="modal" data-bs-target="#schedule-modal-group" class="align-self-center">ХОЧУ В ГРУППУ</button>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 d-md-none schedule-bottom-row">
            {% for day in schedule_days_mob %}
                <div class="col d-flex flex-column justify-content-center align-items-center">
                    <div class="row mt-3 schedule-header">
                        <div class="col d-flex align-items-center justify-content-start">
                            <span>{{ day }}</span>
                        </div>
                    </div>
                    <div class="row schedule-box">
                        {% if day in grouped_lessons and grouped_lessons|get_item:day %}
                            {% for group in grouped_lessons|get_item:day %}
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <p>
                                                <strong class="d-flex justify-content-center">
                                                    {{ group.start_time }} - {{ group.end_time }}
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-flex justify-content-center">
                                            <button name="popover" data-bs-toggle="popover" data-bs-custom-class="schedule-popover" data-bs-content="{{ group.description|safe }}" data-bs-html="true" data-bs-trigger="focus">
                                                {{ group.name }}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {% if group.available_slots > 0 %}
                                                <p>
                                                    <strong class="d-flex justify-content-center color_true">
                                                        (есть {{ group.available_slots }} мес{{ group.available_slots|ru_plural:'то,та,т' }})
                                                    </strong>
                                                </p>
                                            {%  else %}
                                                <p>
                                                    <strong class="d-flex justify-content-center">
                                                        (нет мест)
                                                    </strong>
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col">
                                <p class="d-flex justify-content-center">
                                    Нет занятий
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="schedule-top-right"></div>
        <div class="row d-md-none" id="schedule-mob-bottom">
            <div class="col"></div>
        </div>
    </div>
</main>
{% endblock %}


{% block modal %}
<div class="modal fade" id="schedule-modal-group" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form class="needs-validation" method="post" novalidate>
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header justify-content-end">
                    <div class="circle-button" data-bs-dismiss="modal" aria-label="Close"></div>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label for="InputName" class="col-sm-4 col-form-label">Ваше имя</label>
                        <div class="col-sm-8">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="InputContact" class="col-sm-4 col-form-label">
                            Как с вами связаться<br>
                            <small class="text-muted">(телефон, электронная почта)</small>
                        </label>
                        <div class="col-sm-8">
                            {{ form.contact }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="write-group">
                                <span>Я хочу записаться в группу:</span>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col" id="select-col">
                            {{ form.group }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col d-flex justify-content-center">
                            <div class="form-check">
                                {{ form.agree_to_privacy_policy }}
                                <label class="form-check-label" for="data_check">
                                    Согласен/ на обработку персональных данных
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}