#news-header {
    height: 5%;
    min-height: 40px;

    .navbar {
        height: 100%;
        background-color: transparent;
        z-index: 1030;

        .navbar-nav {
            right: 65px;

            .nav-link {
                font-size: 0.7rem !important;
                color: #4e9599;

                @media (min-width: 1200px) and (max-width: 1399px) {
                    font-size: 0.9rem !important;
                }

                @media (min-width: 1400px) {
                    font-size: 1.1rem !important;
                }
            }
        }
    }
}


#news-main {
    height: 95%;

    #news-container {
        font-family: 'PlayfairDisplay';
        user-select: none;
        height: 100% !important;

        #news-top {
            position: relative;
            height: 11%;
            min-height: 64px;

            &:before {
                position: absolute;
                content: '';
                height: 90%;
                left: -50vw;
                right: -50vw;
                background: linear-gradient(90deg, #F5F5F5 0%, #4E9599 100%);
                z-index: 150;
            }

            h2 {
                color: #F5F5F5;
                z-index: 1050;

                &::first-letter {
                    font-family: 'Monplesir script';
                }
            }

            p {
                font-size: 14px;
                z-index: 1050;

                @media (min-width: 1200px) and (max-width: 1399px) {
                    font-size: 17px;
                }

                @media (min-width: 1400px) {
                    font-size: 19px;
                }
            }
        }

        #news-middle {
            height: 79%;

            .full-width-hr {
                position: relative;
                height: 1px;

                &:before {
                    position: absolute;
                    content: '';
                    height: 100%;
                    left: -50vw;
                    right: -50vw;
                    background-color: #4E9599;
                }
            }

            .news-wrap {
                overflow-y: auto;
                overflow-x: hidden;
                height: 100%;
                scrollbar-color: #4E9599 #ece4d8;

                .news {
                    display: flex;
                    flex-direction: column;

                    strong {
                        @media (min-width: 1200px) and (max-width: 1399px) {
                            font-size: 17px;
                        }

                        @media (min-width: 1400px) {
                            font-size: 19px;
                        }
                    }

                    img[alt='news-image'], video {
                        float: left;
                        margin-right: 20px;
                        width: 190px;
                        pointer-events: none;

                        @media (min-width: 1200px) and (max-width: 1399px) {
                            width: 256px;
                        }

                        @media (min-width: 1400px) {
                            width: 256px;
                        }
                    }

                    video::-webkit-media-controls {
                        display: none !important;
                    }

                    .news-text {

                        p {
                            margin: 0 10px 0 0;
                            font-size: 13px;

                            @media (min-width: 1200px) and (max-width: 1399px) {
                                font-size: 15px;
                            }

                            @media (min-width: 1400px) {
                                font-size: 17px;
                            }
                        }
                    }

                    .heart {
                        display: inline-flex;
                        align-items: center;
                        position: relative;
                        cursor: pointer;

                        span {
                            margin-right: 5px;
                        }

                        i {
                            color: #4E9599;
                            transition: transform 0.1s ease-in-out;
                            transform-origin: center;

                            &:active {
                                transform: scale(1.3);
                            }
                        }
                    }

                }
            }
        }
        #news-bottom {
            height: 10%;
            min-height: 70px;

            button {
                background-color: #fbc01c;
                color: #4f4e4e;
                width: 65%;
                font-size: 1.1rem;
                padding: 5px;
                border-radius: 30px;
                border: 0;

                &:active {
                    box-shadow: 5px 7px 10px 2px rgba(0,0,0,.4);
                }

                @media (min-width: 1200px) and (max-width: 1399px) {
                    font-size: 1.3rem;
                }

                @media (min-width: 1400px) {
                    width: 55%;
                    font-size: 1.4rem;
                }
            }
        }
    }
}



#feedback_subscribe {
    .modal-dialog {
        max-width: 700px;

        .modal-content {
            .modal-body {
                padding: 0 40px 0 40px;

                label[for="InputName"], label[for="InputEmail"] {
                    color: #4e9599;
                    font-size: 1.8rem;

                    &::first-letter {
                        font-family: 'Monplesir script';
                    }
                }

                input[id="InputName"], input[id="InputEmail"] {
                    width: 80%;
                    border-radius: 43px;
                    height: 50px;

                    &:focus {
                        outline: none;
                        border-color: #4e9599;
                        box-shadow: 0 0 0 0.2rem rgba(78, 149, 153, 0.5);
                    }
                }

                .form-check {
                    input {
                        width: 25px;
                        height: 25px;

                        &:focus {
                            outline: none;
                            border-color: #4e9599;
                            box-shadow: 0 0 0 0.2rem rgba(78, 149, 153, 0.5);
                        }

                        &:checked {
                            background-color: #4e9599;
                            border-color: #4e9599;
                        }
                    }

                    label {
                        font-size: 13px;
                        color: inherit;
                        padding: 7px 0 0 10px;
                    }
                }

                strong {
                    font-size: 14px;
                }
            }

            .modal-footer {
                padding-bottom: 25px;
                    button {
                        width: 60%;
                        font-size: 1.2rem;

                        @media (min-width: 1400px) {
                            font-size: 1.3rem;
                        }
                    }
                }
        }
    }
}