.body-legal {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.legal-header {
    flex-shrink: 0;
    background: linear-gradient(to right, rgba(249, 197, 54, 1) 0%, 0.9251471608877182%, rgba(248, 197, 58, 1) 1.8502943217754364%, 50.92514716088772%, rgba(236, 229, 219, 1) 100%);

    @media (max-width: 999.99px) {
        height: 57px;
    }

    @media (min-width: 1000px) and (max-width: 1199px) {
        height: 50px;
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
        height: 55px;
    }

    @media (min-width: 1400px) {
        height: 65px;
    }

    .row {

        .col {

            span {
                display: inline-block;
                font-weight: bold;
                color: #4e9599;

                @media (max-width: 767.98px) {
                    font-size: 1rem;
                    text-align: center;
                }

                @media (min-width: 767.99px) and (max-width: 999.99px){
                    font-size: 1.3rem;
                    text-align: center;
                }

                @media (min-width: 1000px) and (max-width: 1199px) {
                    font-size: 1.4rem;
                }

                @media (min-width: 1200px) and (max-width: 1399px) {
                    font-size: 1.5rem;
                }

                @media (min-width: 1400px) {
                    font-size: 1.8rem;
                }

                &::first-letter {
                    font-family: 'Monplesir script';
                    font-weight: normal;
                }
            }
        }
    }
}

.legal-main {
    display: flex;
    flex: 1;
    overflow-y: auto;

    @media (max-width: 767.98px) {
        padding-bottom: 57px;
    }

    .legal-container {

        .col-text {
            padding-top: 15px;
        }
    }
}

.legal-footer {
    flex-shrink: 0;

    @media (max-width: 999.99px) {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 57px;
        z-index: 1000;
        min-height: auto;
    }

    @media (max-width: 999.99px) {
        height: 57px;
    }

    @media (min-width: 1000px) and (max-width: 1199px) {
        height: 50px;
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
        height: 55px;
    }

    @media (min-width: 1400px) {
        height: 65px;
    }

    .navbar {
        height: 100%;
        user-select: none;
        --bs-navbar-nav-link-padding-x: 1rem !important;
        padding: 0;
        background: linear-gradient(to right, rgba(249, 197, 54, 1) 0%, 0.9251471608877182%, rgba(248, 197, 58, 1) 1.8502943217754364%, 50.92514716088772%, rgba(236, 229, 219, 1) 100%);

        .container {
            position: relative;
            height: 100%;

            .navbar-collapse {

                @media (max-width: 999.99px) {
                    position: absolute;
                    bottom: 45px;
                    width: 100%;
                    left: 0px;
                }

                .navbar-nav {

                    @media (max-width: 999.99px) {
                        width: 90%;
                        position: relative;
                    }

                    @media (min-width: 1000px) {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    .nav-link {
                        color: #4e9599;

                        @media (max-width: 999px) {
                            font-size: 1rem !important;
                        }

                        @media (min-width: 1000px) and (max-width: 1199px) {
                            font-size: 0.92rem !important;
                        }

                        @media (min-width: 1200px) and (max-width: 1399px) {
                            font-size: 1.15rem !important;
                        }

                        @media (min-width: 1400px) {
                            font-size: 1.4rem !important;
                        }

                        i {

                            @media (min-width: 1000px) and (max-width: 1199px) {
                                &:before {
                                    font-size: 1.4rem;
                                }
                            }

                            @media (min-width: 1200px) and (max-width: 1399px) {
                                &:before {
                                    font-size: 1.7rem;
                                }
                            }

                            @media (min-width: 1400px) {
                                &:before {
                                    font-size: 1.9rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

