{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block google_tags %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-27K13ETBN6"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-27K13ETBN6');
</script>
{% endblock %}

{% block header %}
<header id="news-header">
    {% include 'main/navbar.html' %}
</header>
{% endblock %}

{% block main %}
<main class="d-flex flex-grow-1" id="news-main">
    <div class="container" id="news-container">
        <div class="row" id="news-top">
            <div class="col d-flex justify-content-center align-items-center">
                <h2>Мои новости</h2>
            </div>
        </div>
        <div class="row row-cols-1" id="news-middle">
            {% for news_item in news %}
                {% if not news_item.hide %}
                    <div class="col news">
                        {% if news_item.title %}
                            <div class="row">
                                <div class="col mt-2 d-flex justify-content-center">
                                    <strong>{{ news_item.title }}</strong>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col mt-3">
                            {% if news_item.file %}
                                {% if news_item.media_type == 'photo' %}
                                    <img src="{{ news_item.file.url }}" alt="news-image">
                                {% elif news_item.media_type == 'video' %}
                                    <video controls autoplay loop muted>
                                        <source src="{{ news_item.file.url }}">
                                        Your browser does not support the video tag.
                                    </video>
                                {% endif %}
                                <div class="news-text">
                                    {{ news_item.text|safe }}
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex align-items-center justify-content-end heart" data-news-id="{{ news_item.id }}">
                                <span>{{ news_item.likes }}</span>
                                <i class="bi bi-heart-fill"></i>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="row" id="news-bottom">
            <div class="col d-flex align-items-center">
                <button type="button" data-bs-toggle="modal" data-bs-target="#feedback_subscribe">ПОДПИСАТЬСЯ НА РАССЫЛКУ</button>
            </div>
            <div class="col d-none d-md-flex d-flex justify-content-end align-items-center">
                <button type="button" data-bs-toggle="modal" data-bs-target="#feedback_modal">ЗАДАТЬ ВОПРОС</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block modal %}
    {% include 'main/feedback_modal.html' %}
    <div class="modal fade" id="feedback_subscribe" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="needs-validation" method="post" novalidate>
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header justify-content-end">
                        <div class="circle-button" data-bs-dismiss="modal" aria-label="Close"></div>
                    </div>
                    <div class="modal-body">
                        <div class="row-1 mb-3">
                            <div class="col d-flex justify-content-center">
                                <label for="InputName" class="form-label">Ваше имя</label>
                            </div>
                            <div class="col d-flex justify-content-center">
                                {{ subscribe_form.name }}
                            </div>
                        </div>
                        <div class="row-1 mb-3">
                            <div class="col d-flex justify-content-center">
                                <label for="InputEmail" class="form-label">
                                    Адрес электронной почты
                                </label>
                            </div>
                            <div class="col d-flex justify-content-center">
                                {{ subscribe_form.email }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col d-flex justify-content-center">
                                <div class="form-check">
                                    {{ subscribe_form.agree_to_privacy_policy }}
                                    <label class="form-check-label">
                                        Согласен/ на обработку персональных данных
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col d-flex justify-content-center">
                                <strong>
                                    Обещаем не спамить, а присылать только самые важные новости :)
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn" name="subscribe">Подписаться</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>const csrfToken = "{{ csrf_token }}";</script>
<script src="{% static 'news/js/like_news.js' %}"></script>
{% endblock %}