{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
<header id="news-header">
    {% include 'main/navbar.html' %}
</header>
{% endblock %}

{% block main %}
<main id="news-main">
    <div class="container" id="news-container">
        <div class="row-1" id="news-top">
            <div class="col pt-4 d-flex justify-content-center">
                <h2>Новости</h2>
            </div>
            <div class="col pb-2 d-flex justify-content-center">
                <p>
                    Я веду блоги в инстаграм и телеграм, размешаю там посты о психологии и еще <br>
                    что-нибудь тут написать о новостях и переходите на мой инстаграм и вообще
                </p>
            </div>
        </div>
        <div class="row-1" id="news-middle">
            <div class="col full-width-hr"></div>
            <div class="col d-flex flex-column flex-fill news-wrap">
                <div class="row pb-5 news">
                    <div class="col d-flex justify-content-center">
                        <strong>Бывают ли в семье НЕсозависимые отношения?</strong>
                    </div>
                    <div class="col mt-3">
                        <img src="{% static 'main/img/lorem-image.png' %}" alt="news-image">
                        <div class="news-text">
                            <p>
                                С одной стороны, семья это закрытое ваше собственное пространство, с другой - на вашу семью влияет множество факторов, как внешних, так и внутренних. Вы сами и ваш близкий (или близкие) меняетесь. Появляются новые желания (или не появляются), меняется возраст, состав, длительность отношений и их история. Это все изменяет каждого. А способность адаптироваться к изменениям напрямую зависит от достаточности ресурса или, другими словами, внутренних сил.
                                <br><br>
                                Я специалист по групповым процессам, а семья, конечно, это особый вид группы. Но я осмелюсь чуть взглянуть на систему внутрисемейных отношений с точки зрения процессов, с которыми сталкиваемся мы с вами, проживая свою жизнь рядом с другими людьми. Да, пусть эти люди рядом самые родные, это и поддержка, и ограничение. Боимся ранить… тревожимся за мир и комфорт в доме.
                                <br><br>
                                Действительно ли вы продолжаете идти своей дорогой рядом с вашим близким, и позволяете ли этому близкому идти своей? И насколько эта "дорога" прозрачна, ясна и принята каждым из вас? Продолжает ли для вас быть поддержкой ценность ваших взаимоотношений, или эти взаимоотношения скорее ранят? Взаимоотношения с партнером, ребенком, или с собой, насколько они для вас продолжают быть удовольствием?
                                <br><br>
                                Как давно вы сами задавали себе эти вопросы и осмеливались слышать от своего сердца ответы на них?
                                <br><br>
                                Если рассматривать семью как динамическую, часто изменяющуюся систему отношений, обладает ли каждый ваш родной человек, супруг, супруга, или ребенок достаточным количеством внутреннего ресурса для того, чтобы видеть и слышать вас с вашими желаниями? Соглашаться с вами в тех точках, которые важны именно вам, и спорить о тех, которые им по какой-то причине не подходят.
                                Обладаете ли вы достаточным ресурсом, чтобы с той же любовью в голосе видеть и принимать позицию другого? Как вам рядом с вашим родным и в то же время совершенно отдельным человеком?
                                <br><br>
                                В любой системе взаимоотношений за собственный комфорт отвечает каждый, позаботьтесь о своем комфорте, и остальные подстроятся и адаптируются, а может и чуть изменятся. Позаботьтесь о том, чтобы ребенка не так "штормило", и вся ваша внутрисемейная система придет к большей гармонии.
                                <br><br>
                                Это как одеяло держать в три или четыре пары рук: один начнет его трясти, и волна дойдет до каждого. И чем более устойчивы и спокойны будут остальные, тем спокойнее будет вся система.
                            </p>
                        </div>
                    </div>
                    <div class="col heart-wrap">
                        <div class="heart">
                            <span>0</span>
                            <i class="bi bi-heart-fill"></i>
                        </div>
                    </div>
                </div>
                <div class="row pb-5 news">
                    <div class="col d-flex justify-content-center">
                        <strong>Бывают ли в семье НЕсозависимые отношения?</strong>
                    </div>
                    <div class="col mt-3">
                        <img src="{% static 'main/img/lorem-image.png' %}" alt="news-image">
                        <div class="news-text">
                            <p>
                                С одной стороны, семья это закрытое ваше собственное пространство, с другой - на вашу семью влияет множество факторов, как внешних, так и внутренних. Вы сами и ваш близкий (или близкие) меняетесь. Появляются новые желания (или не появляются), меняется возраст, состав, длительность отношений и их история. Это все изменяет каждого. А способность адаптироваться к изменениям напрямую зависит от достаточности ресурса или, другими словами, внутренних сил.
                                <br><br>
                                Я специалист по групповым процессам, а семья, конечно, это особый вид группы. Но я осмелюсь чуть взглянуть на систему внутрисемейных отношений с точки зрения процессов, с которыми сталкиваемся мы с вами, проживая свою жизнь рядом с другими людьми. Да, пусть эти люди рядом самые родные, это и поддержка, и ограничение. Боимся ранить… тревожимся за мир и комфорт в доме.
                                <br><br>
                                Действительно ли вы продолжаете идти своей дорогой рядом с вашим близким, и позволяете ли этому близкому идти своей? И насколько эта "дорога" прозрачна, ясна и принята каждым из вас? Продолжает ли для вас быть поддержкой ценность ваших взаимоотношений, или эти взаимоотношения скорее ранят? Взаимоотношения с партнером, ребенком, или с собой, насколько они для вас продолжают быть удовольствием?
                                <br><br>
                                Как давно вы сами задавали себе эти вопросы и осмеливались слышать от своего сердца ответы на них?
                                <br><br>
                                Если рассматривать семью как динамическую, часто изменяющуюся систему отношений, обладает ли каждый ваш родной человек, супруг, супруга, или ребенок достаточным количеством внутреннего ресурса для того, чтобы видеть и слышать вас с вашими желаниями? Соглашаться с вами в тех точках, которые важны именно вам, и спорить о тех, которые им по какой-то причине не подходят.
                                Обладаете ли вы достаточным ресурсом, чтобы с той же любовью в голосе видеть и принимать позицию другого? Как вам рядом с вашим родным и в то же время совершенно отдельным человеком?
                                <br><br>
                                В любой системе взаимоотношений за собственный комфорт отвечает каждый, позаботьтесь о своем комфорте, и остальные подстроятся и адаптируются, а может и чуть изменятся. Позаботьтесь о том, чтобы ребенка не так "штормило", и вся ваша внутрисемейная система придет к большей гармонии.
                                <br><br>
                                Это как одеяло держать в три или четыре пары рук: один начнет его трясти, и волна дойдет до каждого. И чем более устойчивы и спокойны будут остальные, тем спокойнее будет вся система.
                            </p>
                        </div>
                    </div>
                    <div class="col heart-wrap">
                        <div class="heart">
                            <span>0</span>
                            <i class="bi bi-heart-fill"></i>
                        </div>
                    </div>
                </div>
                <div class="row pb-5 news">
                    <div class="col d-flex justify-content-center">
                        <strong>Бывают ли в семье НЕсозависимые отношения?</strong>
                    </div>
                    <div class="col mt-3">
                        <img src="{% static 'main/img/lorem-image.png' %}" alt="news-image">
                        <div class="news-text">
                            <p>
                                С одной стороны, семья это закрытое ваше собственное пространство, с другой - на вашу семью влияет множество факторов, как внешних, так и внутренних. Вы сами и ваш близкий (или близкие) меняетесь. Появляются новые желания (или не появляются), меняется возраст, состав, длительность отношений и их история. Это все изменяет каждого. А способность адаптироваться к изменениям напрямую зависит от достаточности ресурса или, другими словами, внутренних сил.
                                <br><br>
                                Я специалист по групповым процессам, а семья, конечно, это особый вид группы. Но я осмелюсь чуть взглянуть на систему внутрисемейных отношений с точки зрения процессов, с которыми сталкиваемся мы с вами, проживая свою жизнь рядом с другими людьми. Да, пусть эти люди рядом самые родные, это и поддержка, и ограничение. Боимся ранить… тревожимся за мир и комфорт в доме.
                                <br><br>
                                Действительно ли вы продолжаете идти своей дорогой рядом с вашим близким, и позволяете ли этому близкому идти своей? И насколько эта "дорога" прозрачна, ясна и принята каждым из вас? Продолжает ли для вас быть поддержкой ценность ваших взаимоотношений, или эти взаимоотношения скорее ранят? Взаимоотношения с партнером, ребенком, или с собой, насколько они для вас продолжают быть удовольствием?
                                <br><br>
                                Как давно вы сами задавали себе эти вопросы и осмеливались слышать от своего сердца ответы на них?
                                <br><br>
                                Если рассматривать семью как динамическую, часто изменяющуюся систему отношений, обладает ли каждый ваш родной человек, супруг, супруга, или ребенок достаточным количеством внутреннего ресурса для того, чтобы видеть и слышать вас с вашими желаниями? Соглашаться с вами в тех точках, которые важны именно вам, и спорить о тех, которые им по какой-то причине не подходят.
                                Обладаете ли вы достаточным ресурсом, чтобы с той же любовью в голосе видеть и принимать позицию другого? Как вам рядом с вашим родным и в то же время совершенно отдельным человеком?
                                <br><br>
                                В любой системе взаимоотношений за собственный комфорт отвечает каждый, позаботьтесь о своем комфорте, и остальные подстроятся и адаптируются, а может и чуть изменятся. Позаботьтесь о том, чтобы ребенка не так "штормило", и вся ваша внутрисемейная система придет к большей гармонии.
                                <br><br>
                                Это как одеяло держать в три или четыре пары рук: один начнет его трясти, и волна дойдет до каждого. И чем более устойчивы и спокойны будут остальные, тем спокойнее будет вся система.
                            </p>
                        </div>
                    </div>
                    <div class="col heart-wrap">
                        <div class="heart">
                            <span>0</span>
                            <i class="bi bi-heart-fill"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col full-width-hr"></div>
        </div>
        <div class="row" id="news-bottom">
            <div class="col d-flex align-items-center">
                <button type="button" data-bs-toggle="modal" data-bs-target="#feedback_subscribe">ПОДПИСАТЬСЯ НА РАССЫЛКУ</button>
            </div>
            <div class="col d-flex justify-content-end align-items-center">
                <button type="button" data-bs-toggle="modal" data-bs-target="#feedback_modal">ЗАДАТЬ ВОПРОС</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block modal %}
    {% include 'main/feedback_modal.html' %}
    <div class="modal fade" id="feedback_subscribe" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header justify-content-end">
                        <div class="circle-button" data-bs-dismiss="modal" aria-label="Close"></div>
                    </div>
                    <div class="modal-body">
                        <div class="row-1 mb-3">
                            <div class="col d-flex justify-content-center">
                                <label for="scheduleInputName" class="form-label">Ваше имя</label>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <input type="text" class="form-control" id="scheduleInputName">
                            </div>
                        </div>
                        <div class="row-1 mb-3">
                            <div class="col d-flex justify-content-center">
                                <label for="scheduleInputEmail" class="form-label">
                                    Адрес электронной почты
                                </label>
                            </div>
                            <div class="col d-flex justify-content-center">
                                <input type="email" class="form-control" id="scheduleInputEmail">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col d-flex justify-content-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="data_check">
                                    <label class="form-check-label" for="data_check">
                                        Согласен/ на обработку персональных данных
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col d-flex justify-content-center">
                                <strong>
                                    Обещаем не спамить, а присылать только самые важные новости :)
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn" data-bs-dismiss="modal">Подписаться</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}